<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
  <ion-row *ngIf="items != null">
    <ion-col col-8>
        <div background-size container-hearder-image >
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top:10px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Centro de Pagos</ion-label>
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top:-10px; margin-bottom: 60px;">
    <table width="100%">
      <tr>
        <td style="padding-left: 20px;color: #f59332; font-size: 25px;">Tu saldo actual</td>
        <td style="color: #d9dcdd; font-size: 40px; padding-right: 30px;" align="center">
              <table class="saldo"><tr><td align="center">{{this.saldo}}$</td></tr></table>
        </td>
      </tr>
    </table>
    </ion-col>
    <ion-col col-12>
          <ion-item item-capa class="item-md2" *ngFor="let item of items;" (click)="onEvent('onItemClick', item)">
                <ion-icon icon-medium item-start>
                  <img src="{{this.urlimg2}}{{item.imagen}}" float-right height="70px" width="85px;" style="margin-right: 10px; margin-top: 14px;">
                </ion-icon>
                <h2 item-title>
                    {{item.denominacion}}
                </h2>
                <h3 item-subtitle style="white-space: normal; text-align: justify;">{{item.descripcion}}</h3>
            </ion-item>
    </ion-col>
    </ion-row>
</ion-grid>
</ion-content>