<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="myview">
<ion-grid no-padding>
  <form [formGroup]="myForm" (ngSubmit)="loginUser()">
    <ion-list>
      <div padding text-center>
        <ion-img style="background-color:#f6f6f6; margin-top:50px;" width="170" height="110" src="assets/logo192.png" ></ion-img>
      </div>
      <ion-label stacked style="color:#923797; font-size:25px; padding-left: 16px;">Bienvenido a BeautyAccess</ion-label>
      <div padding>
        <ion-label stacked style="color:#A6ACAF;">Registrate o Inicia sesión con tu e-mail</ion-label>
      </div>

      <table style="width:90%; margin-left:16px;">
        <tr><td style=""><ion-label stacked style="color:#923797">Introduce tu e-mail</ion-label></td></tr>
        <tr>
          <td style="border-bottom: 2px solid #923797">
            <ion-item>
              <ion-input class="button-line-verificar" formControlName="code_verificacion" type="email"></ion-input>
            </ion-item>
          </td>
        </tr>
      </table>
      <div padding>
        <ion-label stacked style="color:#A6ACAF;font-size:10px;" float-left><a (click)="ir('4')" href="javascript:" style="" class="">¿Olvidó su contraseña?</a></ion-label>
        <!--
        <ion-label stacked style="color:#A6ACAF;font-size:10px;" float-right><a (click)="ir('1')" href="javascript:" style="" class="">¡Ya tengo un Código de Registro!</a></ion-label>
        -->
        <br><br><br><br>
        <div padding style="color:#A6ACAF; font-size: 1.2rem; line-height: 2;" stacked>
          Si continuas aceptas nuestra <a (click)="ir('2')" href="javascript:" class="">Política de privacidad</a>  y las <a (click)="ir('3')" href="javascript:"  class="">Condiciones de uso general</a>
        </div>
      </div>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">VALIDAR MI CORREO</button>
      <button  *ngIf="this.plataforma=='ios' " (click)="ver('1')" ion-button block type="button" >¡Ya quiero probar la App!</button>
    </div>
  </form>
</ion-grid>
</ion-content>