page-verificar {
	.myview{
	     background-image: url('../assets/images/2--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none; 
	     height: 100%;

	}
	.item-md {
	    padding-left: 16px;
	    padding-right: 0;
	    position: relative;
	    font-size: 1.6rem;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: transparent;
	    -webkit-box-shadow: none; 
	    box-shadow: none;
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.item-ios {
	    padding-left: 16px;
	    border-radius: 0;
	    position: relative;
	    font-size: 1.7rem;
	    color: #000;
	    background-color: transparent;
	    -webkit-transition: background-color 200ms linear;
	    transition: background-color 200ms linear;
	}

	.item-md.item-input.ng-valid.item-input-has-focus .item-inner, 
	.item-md.item-input.ng-valid.item-input-has-focus, .item-inner {
	     border-bottom-color: #32db64;
	    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
	    box-shadow: inset 0 -0px 0 0 #32db64;
	}
  
}
