<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div *ngIf="this.datos!='' ">
				<table style="width: 100%; margin-top:140px">
					<tr>
						<td colspan="2">

							<img class="" src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
							<div padding float-right>
					           <table style="color:#923797; font-size:26px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
					           		<tr>
					           			<td align="right">{{this.titulo}}</td>
					           		</tr>
					           </table>
					        </div>
					    </td>
					</tr>
					<tr>
						<td width="45%" hight="30%" align="center">
						    <img weight="140px" height="140px" src="{{this.urlimg2}}{{this.url_imagen}}" style="margin-top:-30px; z-index:-3; height: 140px; width: 140px;">
						</td>
						<td width="55%" valign="top" align="center" style="padding-left:8px; padding-top:-4px; padding-right: 10px;">
							<div padding class="md_principal" style="text-align: justify;">
								<span class="item-title " style="font-size:13px">{{this.descripcion_corta}}</span><br><br>
							</div>
						</td>
				    </tr>
				</table> 
				<ion-row>
					<ion-col col-12> 
							<table style="width: 100%; margin-top:40px;">
							<tr *ngIf="this.tipo_url=='1' ">
								<td align="center">
									<img weight="100%" height="160px" src="{{this.urlimg2}}{{this.url}}">
								</td>
							</tr>
							<tr *ngIf="this.tipo_url=='2'">
								<td align="center">
									<video width="100%" height="260px" controls>
									  <source src="{{this.urlimg2}}{{this.url}}" type="video/mp4">
									</video>
								</td>
							</tr>
							</table>
					</ion-col>
			        <ion-col col-12> 
			        	<table style="width: 100%; margin-top:30px;">
						<tr>
							<td align="center">
						      	<div padding class="md_principal" style="text-align: justify;">
						  	  		<div [innerHTML]="this.descripcion"></div>
						  	  	</div>
						  	</td>
						 </tr>
						 </table>
			  	    </ion-col>
			  	</ion-row>
</div>
</ion-grid>
</ion-content>
