page-compartir{

  background-color: #f6f6f6;

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	} 


.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
     border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
    box-shadow: inset 0 -0px 0 0 #32db64;
}

.item-md.item-input.ng-valid.item-input-has-focus .item-inner, 
.item-md.item-input.ng-valid.item-input-has-focus, .item-inner {
     border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
    box-shadow: inset 0 -0px 0 0 #32db64;
}


 .datetime-md {
          padding: 13px 8px 13px 16px;
          text-align: center;
          font-size: 20px;
          /* padding-left: 0px; */
      }
   .datetime-text {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    min-height: 1.2em;
    font-size: inherit;
    line-height: 1.2;
    text-overflow: ellipsis;
    color: #f59332;
    white-space: nowrap;
}
  .myview{
	    background-image: url('../assets/images/7--01.png');
	    background-repeat: no-repeat;
	    background-size: cover; 
	    background-color:none;
	    height: 100%;
	    margin-top:5px;
	}

	.text-input-md {
	    margin: 13px 8px;
	    padding: 0;
	    width: calc(100% - 8px - 8px);
	    color: #f59332;
	}

  
  .item-md {
	    padding-left: 16px;
	    padding-right: 0;
	    position: relative;
	    font-size: 1.6rem;
	    font-weight: normal;
	    text-transform: none;
	    color: #000;
	    background-color: transparent;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}

  
}
