<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">

<table style="width: 100%; margin-top:140px">
            <tr>
            <td colspan="2">
              <img class="" src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
              <div padding float-right>
                     <table style="color:#923797; font-size:26px; margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
                        <tr>
                          <td align="right">Comparte y Gana</td>
                        </tr>
                     </table>
                  </div>
              </td>
          </tr>
</table>
<div padding style="    text-align: justify;
    color: #424242;
    font-size: 24px;
    padding-right: 40px;
    margin-top: -20px;
    line-height: 29px;
    padding-left: 40px;">
  Consigue <b>${{this.datos['valor_compartir']}}</b> por cada amigo que nos traigas
</div>
<div padding text-center style="    margin-top: -20px;">
      <img class="" src="./assets/images/beautyaccess.png" height="100px" width="160px;"> 
</div>
<div padding text-center  style="    text-align: justify;
    color: #424242;
    font-size: 14px;
    margin-top: -20px;">
  Comparte tu código de invitación
</div>
<div padding text-center>
  <table style="color:#923797; margin-top: -10px;" width="100%">
  <tr>
    <td align="center" style="font-size: 30px;">{{this.codigo_compartir}}</td>
    <td align="center"><button ion-button block type="button"  style="border-radius: 14px; width:100px; font-size:12px; background-color: #f59332;"  (click)="compartir()">Compartir</button></td>
  </tr>
  </table>
</div>
<div padding style=" text-align: justify;
    color: #424242;
    font-size: 15px;
    margin-top: -10px;
    padding-right: 20px;
    line-height: 25px;
    padding-left: 20px;">
Comparte tu código con tus amigos para darles <b>${{this.datos['valor_recibir']}}</b> de descuentos en nuestros servicios, válido para {{this.datos['dias_validos_recibir']}} dias en reservas superiores a <b>${{this.datos['valor_maximo_recibir']}}</b>. Cuando hagan su primera reserva, recibiras <b>${{this.datos['valor_compartir']}}</b> de descuento en nuestros servicios, válidos por {{this.datos['dias_validos_compartir']}}  dias.
</div>

</ion-content>