page-login {

    [item-capa] {
		          width: 150px;
		          height: 50px;
		          color: #923797;
		          margin-top: -10px;
		          margin-top: -10px;
		          margin-right: 6px;
		          margin-left:  0px;
		          border: 1px;
		          background-color: #ffffff;
		          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                  -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   border-radius: 10px 10px 10px 10px;
				   -moz-border-radius: 10px 10px 10px 10px;
				   -webkit-border-radius: 10px 10px 10px 10px;
		    }

    [img-capa] {
                   border-radius: 20px 20px 20px 20px;
				   -moz-border-radius: 20px 20px 20px 20px;
				   -webkit-border-radius: 20px 20px 20px 20px;
		    }
    [item-title] {
	         font-size:16px;
		     color: #A6ACAF;
	}
    [item-subtitle] {
	         font-size:12px;
		         color: #f3932d;
	}

	.myview{
	     background-image: url('../assets/images/5--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	}
  
}
