<ion-header>
  <ion-navbar color="tercer">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="myview">
<ion-grid no-padding>
  <form [formGroup]="myForm" (ngSubmit)="loginUser()">
    <ion-list>
      <ion-item text-center>
        <ion-img style="background-color:#ffffff" width="150" height="100" src="assets/logo192.png" ></ion-img>
      </ion-item>
      <ion-item>
      <ion-img  item-left style="background-color:#ffffff" width="50" height="50" src="assets/images/5-icono-03.png" ></ion-img>
        <ion-label stacked>Ingresa tu Código de identificación:</ion-label>
        <ion-input formControlName="code_verificacion" type="text" placeholder="Código"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Verificar</button>
      <ion-item text-center>
         <ion-label stacked style="color:#A6ACAF;font-size:15px;"><a (click)="ir('1')" href="javascript:" style="" class="">¡Quiero mantener el Plan Silver!</a></ion-label>
      </ion-item>
    </div>
  </form>
  <div padding style="margin-top:  -10px;">
    <table style="width: 100%;" item-capa>
      <tr>
        <td align="center" colspan="2" style="padding-top: 9px;">
         <span item-title>¿Quieres ampliar tu afiliación?</span>
        </td>
      </tr>
      <tr>
          <td align="center" colspan="2">
            <br>
          </td>
      </tr>
      <tr>
        <td align="center" colspan="2">
            <span  item-subtitle>Amplia tu plan por muchos más BENEFICIOS <br>y muy poco costo</span>
        </td>
      </tr>
      <tr>
          <td align="center" colspan="2">
            <br>
          </td>
      </tr>
      <tr>
        <td align="center">
            <ion-img style="background-color:#ffffff" img-capa width="150" height="90" src="assets/images/tarjet_black.png" ></ion-img>
        </td>
        <td align="center">
            <ion-img style="background-color:#ffffff" img-capa width="150" height="90" src="assets/images/tarjet_gold.png" ></ion-img>
        </td>
      </tr>
      <tr>
          <td align="center" colspan="2">
            <br>
            <span style="font-size:20px;">AMPLIAR MI AFILIACIÓN</span>
          </td>
      </tr>
      <tr>
          <td align="center" colspan="2">
            <br>
          </td>
      </tr>
    </table>
    <br>
  </div>
</ion-grid>
</ion-content>