<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
	<ion-row *ngIf="this.data != null">
	    <ion-col col-12 style="margin-top:100px;">
	          <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
	          <div padding>
	             <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px;     margin-bottom: 30px;  padding-left: 16px;">Beauty Access Point</ion-label>
	          </div>
	    </ion-col>
	    <ion-col col-12 >
					<table width="100%">
					<tr><td align="center">
						<table class="circulo"><tr><td>{{this.data}}</td></tr></table>
					</td></tr></table>
		</ion-col>
	</ion-row>


<div padding>
    <table style="width: 100%;">
		<tr>
			<td align="center" colspan="3">
					<button class="boton_reserva" block (click)="link('CanjesPage', '1');" ion-button>Canje Beautypoints</button>
		    </td>
		</tr>
	</table>
</div>
</ion-grid>
</ion-content>