page-beautypoint {

      
      background-color:#e8e8e8;
	.circulo {
             width: 200px;
             height: 200px;
             -moz-border-radius: 50%;
             -webkit-border-radius: 50%;
             border-radius: 50%;
             background: #923797;
             color: #fff;
             text-align: center;
             font-size:140px
      }

      .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
                      left: 0;
                      bottom: -5px;
                      background-position: left 0 top -2px;
                      position: absolute;
                      width: 100%;
                      height: 5px;
                      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
                      background-repeat: repeat-x;
                      content: "";
      } 
      .myview{
           background-image: url('../assets/images/7--01.png');
           background-repeat: no-repeat;
           background-size: cover; 
           background-color:none;
           height: 100%;
           margin-top:-5px;
      }

	
}
