<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div *ngIf="this.razon_social!='' ">
				<table style="width: 100%; margin-top:140px">
					<tr>
						<td colspan="2">

							<img class="" src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
							<div padding float-right>
					           <table style="color:#923797; font-size:26px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
					           		<tr>
					           			<td align="right">{{this.razon_social}}</td>
					           		</tr>
					           </table>
					        </div>
					    </td>
					</tr>
					<tr>
						<td width="45%" hight="30%" align="center">
						    <img weight="140px" height="140px" src="{{this.urlimg2}}{{this.img1}}" style="margin-top:-30px; z-index:-3; height: 140px; width: 140px;">
						</td>
						<td width="55%" valign="top" style="padding-left:8px; padding-top:-4px; padding-right: 10px;">
							<span class="item-title " style="font-size:13px">{{this.direccion}}</span><br><br>
							<span class="item-title " style="font-size:13px"><!--{{this.telefono}}-->02-6036037 / 0988488913</span><br><br>
							<span class="item-title " style="font-size:13px"><!--{{this.email}}-->reservas@beautyaccess.com.ec</span><br><br>
						</td>
				    </tr>
				</table>

				<div padding ion-slide-item >
						<ion-slides #wizardSlider2 autoplay="5000" loop="true" speed="3000" (ionSlideDidChange)="slideHasChanged2()" pager="true">
						  <!--<ion-slide ion-slide *ngIf="this.img1 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img1}}">
						  </ion-slide>-->
						  <ion-slide ion-slide *ngIf="this.img2 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img2}}">
						  </ion-slide>
						  <ion-slide ion-slide *ngIf="this.img3 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img3}}">
						  </ion-slide>
						  <ion-slide ion-slide *ngIf="this.img4 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img4}}">
						  </ion-slide>
						  <ion-slide ion-slide *ngIf="this.img5 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img5}}">
						  </ion-slide>
						  <ion-slide ion-slide *ngIf="this.img6 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img6}}">
						  </ion-slide>
						  <ion-slide ion-slide *ngIf="this.img7 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img7}}">
						  </ion-slide>
						  <ion-slide ion-slide *ngIf="this.img8 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img8}}">
						  </ion-slide>
						  <ion-slide ion-slide *ngIf="this.img9 != null">
						  		<img weight="100%" height="60px" src="{{this.urlimg2}}{{this.img9}}">
						  </ion-slide>
						</ion-slides>
				</div>
</div>
</ion-grid>
</ion-content>
