page-guia {
	.myview{
	     background-image: url('../assets/inicio/inicio-pasos-01.jpg');
	     background-repeat: no-repeat;
	     background-size: contain; 
	     background-color:#f7f7f7; 
	     height: 100%;

	}
	.boton_reserva{
		position: absolute;
    	bottom: 50px;

	}
  
}
