page-principal {

ion-fab {
	    
}

background-color:#923797;

            .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
			}

			.item-md_nav {
			    background-color: #923797;
			}

			.swiper-container {

			}
			.swiper-slide2 img {
			    width: 100%;
			    max-width: 100%;
			    height: 155px;
			    max-height: 100%;
			}
			.myview{
			     background-image: url('../assets/images/7--01.png');
			     background-repeat: no-repeat;
			     background-size: cover;
			     background-color:none;
			     height: 100%;
			     margin-top:0px;
			}
			.swiper-pagination-bullet-active {
			    background: #923797;
			    opacity: 1;
			}

			ion-slide {
			    padding: 0 25px;
			}
		    .button-md_principal{
		          /*width: 145px;*/
		          width: 40%;
		          height: 120px;
		          color: #f79633;
		          margin-top:   15px;
		          margin-right: 5%;
		          margin-left:  0px;
		          border: 1px #777 solid;
		          background-color: #ffffff;
		          padding: 0px;
                  -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
                  border-radius: 10px 10px 0px 0px;
		    }
		    [ion-slide] {
			    padding: 0 0px !important;
			    padding-right: 0px !important;

			}
			[ion-slide-item] {
		          padding: 0px !important;
			}
			.swiper-pagination {
			    bottom: 5px !important;

			    .swiper-pagination-bullet {
			      background: theme-colors('mainColors', 'secondary') !important;
			    }
			}
			[button-clear-principal] {
			    margin-top: -45px;
			    margin-left: 20px;
			    margin-right: 30px;
			    z-index: 9;
			    padding: 10px 15px;
			    position: relative;
			    text-transform: uppercase;
			    display: block;
			    font-size: 30px;
			    background-color: none !important;
		    }
			[item-favorito] {
		         margin-top:10px;
		         margin-bottom:10px;
		         margin-right: 6px;
		         margin-left: 6px;
		         weight:50px;
		         height:50px;

			}
			[item-icon-menu] {
		        color: #fff;
			}
			[item-icon] {
		         font-size: 20px;
		         margin-right:10px;
		         margin-left: 1px;
		         color: #923797;
			}
			[item-principal] {
			     margin-top:   -20px;
			     margin-left: 6px;
			}
			[item-title] {
		         text-transform: capitalize; font-size:11px; color: #fff;
		         margin-left: -5px;
			}
			[item-subtitle] {
		         font-size:8px;
		         color: #f3932d;
		         margin-left: -5px;
			}

}
