<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
	<div ion-slide-item style="margin-top:30px;" >
			<ion-slides autoplay="5000" loop="true" speed="3000" #wizardSlider2 (ionSlideDidChange)="slideHasChanged2()" pager="true" *ngIf="data2 != null">
			  <ion-slide *ngFor="let item2 of data2;" ion-slide>
			  <img weight="100%" height="60px" src="{{this.urlimg2}}{{item2.foto}}">
			  </ion-slide>
			</ion-slides>
	</div>
    <div  text-center item-principal><br>
		    <button class="button-md_principal" *ngFor="let item of data4;" (click)="link(item.id)">
		       <table style="width: 100%;">
		       <tr>
					<td>
						<img style="width: 100%;" src="{{this.urlimg2}}{{item.imagen}}" weight="100%" height="92px">
					</td>
				</tr>
				<tr>
					<td align="center" style="background-color: #923797; text-transform: capitalize; font-size:11px; color: #fff; height: 24px;">
						{{item.denominacion}}
					</td>
				</tr>
				</table>
			</button>
	</div>
	<br><br>
</ion-grid>
</ion-content>