page-recuperar2 {
	.myview{
	     background-image: url('../assets/images/2--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none; 
	     height: 100%;

	}
  
}
