<my-navbar-header [usuario]="this.usuario"></my-navbar-header>


<ion-content class="myview">
<ion-grid no-padding *ngIf="this.data != null">
<div ion-slide-item style="margin-top: 24px;">
    <ion-slides autoplay="5000" loop="true" speed="3000" #wizardSlider (ionSlideDidChange)="slideHasChanged()" pager="true" *ngIf="data2 != null">
      <ion-slide *ngFor="let item2 of data2;" ion-slide>
      <img weight="100%" height="60px" src="{{this.urlimg2}}{{item2.foto}}">
      </ion-slide>
    </ion-slides>
</div>
<div padding text-center>
     <ion-label stacked style="color:#923797; font-size:18px; margin-top:-7px;">!CANJES DE BEAUTPOINT!</ion-label>
</div>
  <div padding text-center item-principal style=" margin-top:-30px;">
      <button *ngFor="let item of data;"  class="button-md_principal"  >
        <table>
          <tr>
            <td>
                  <img weight="120px" height="110px" src="{{this.urlimg2}}{{item.imagen}}" (click)="canjear(item.id, item.descripcion)">
            </td>
          </tr>
          <tr>
            <td> <br>
                 {{item.beautypoints}} bt's,  {{item.costo}} $
            </td>
          </tr>
        </table>
      </button>
  </div>
</ion-grid>
</ion-content>

