.alert-md .alert-title {
    font-size: 14px;
    color: #923797;
}
.alert-md .alert-message {
    max-height: 240px;
    font-size: 12px;
    text-align: justify;
}
.alert-md .alert-wrapper {
    border-radius: 13px;
    max-width: 300px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}
.alert-md .alert-button .button-inner {
    justify-content: center !important;
}
.ion-aceptar{
    background-color: #f59332 !important;
    color: #fff !important;
    width: 120px;
}
.ion-cancelar{
    background-color: #923797 !important;
    color: #fff !important;
    width: 120px;
}
.alert-md .alert-button {
    text-align: right;
    text-align: end;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 8px 0 0;
    padding: 4px;
}
.alert-md .alert-button-group {
    padding: 8px 8px 18px 24px;
}

page-canjes {

    background-color:#e8e8e8;

	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	}
	.myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover;
	     background-color:none;
	     height: 100%;
	     margin-top:5px;
	}
	.button-md_principal{
	    width: 140px;
	    height: 160px;
	    color: #923797;
	    margin-top:   18px;
	    margin-right: 8px;
	    margin-left:  10px;
	     border: 1px #777 solid;
		          background-color: #ffffff;
                  -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
                  -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
                  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
                  border-radius: 10px 10px 10px 10px;
    }


}
