<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview" >
  <ion-row style="margin-top:140px;">
    <ion-col col-12 >
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: -30px; padding-left: 16px;">Mi Perfil</ion-label>
        </div>
    </ion-col>
     <ion-col col-12 style="margin-top: -50px;">
          <form [formGroup]="myForm" (ngSubmit)="update()" *ngIf="this.data != null">
              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Nombres<span style="font-size: 10px; color: red; margin-left: 5px;">(* Solo letras)</span></ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item >
                  <ion-input class="button-line-verificar" [value]="this.data.nombres" id="nombre"  formControlName="nombres" type="text" placeholder=""></ion-input>
                </ion-item>
                </td></tr>
                <tr>
                  <td>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('nombres').hasError('required')">Campo requerido</p>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('nombres').hasError('pattern')">Por favor solo usar letras</p>
                  </td>
                </tr>
              </table>

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Apellidos<span style="font-size: 10px; color: red; margin-left: 5px;">(* Solo letras)</span></ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item>
                  <ion-input class="button-line-verificar" [value]="this.data.apellidos" id="apellido"  formControlName="apellidos" type="text" placeholder=""></ion-input>
                </ion-item>
                </td></tr>
                <tr>
                  <td>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('apellidos').hasError('required')">Campo requerido</p>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('apellidos').hasError('pattern')">Por favor solo usar letras</p>
                  </td>
                </tr>
              </table>

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">C.I<span style="font-size: 10px; color: red; margin-left: 5px;">(* Solo números)</span></ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item>
                <ion-input class="button-line-verificar" [value]="this.data.ci" Maxlength="11"  formControlName="ci" type="text" placeholder=""></ion-input>
                </ion-item>
                </td></tr>
                <tr>
                  <td>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('ci').hasError('required')">Campo requerido</p>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('ci').hasError('pattern')">Por favor solo usar números</p>
                  </td>
                </tr>
              </table>

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Teléfono<span style="font-size: 10px; color: red; margin-left: 5px;">(* Solo números)</span></ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item>
                <ion-input class="button-line-verificar" [value]="this.data.telefono" Maxlength="20"  formControlName="telefono" type="text" placeholder=""></ion-input>
                </ion-item>
                </td></tr>
                <tr>
                  <td>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('telefono').hasError('required')">Campo requerido</p>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('telefono').hasError('pattern')">Por favor solo usar números</p>
                  </td>
                </tr>
              </table>

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Fecha de Nacimiento</ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item text-center>
                  <ion-datetime  displayFormat="DD/MM/YYYY"  formControlName="fecha" [(ngModel)]="fecha" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
                </ion-item>
                </td></tr>
              </table>

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Sexo</ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                  <ion-list radio-group formControlName="sexo" [(ngModel)]="this.data.sexo">
                    <ion-item style="color: #f59332; width: 150px;">
                      <ion-label>Hombre</ion-label>
                      <ion-radio value="1"></ion-radio>
                    </ion-item>
                    <ion-item style="color: #f59332; width: 150px;">
                      <ion-label>Mujer</ion-label>
                      <ion-radio value="2"></ion-radio>
                    </ion-item>
                  </ion-list>
                </td></tr>
              </table>

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Cabello</ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                  <ion-list radio-group formControlName="cabello" [(ngModel)]="this.data.tipocabello_id">
                    <ion-item style="color: #f59332; width: 150px;">
                      <ion-label>Corto</ion-label>
                      <ion-radio value="2"></ion-radio>
                    </ion-item>
                    <ion-item style="color: #f59332; width: 150px;">
                      <ion-label>Medio</ion-label>
                      <ion-radio value="3"></ion-radio>
                    </ion-item>
                    <ion-item style="color: #f59332; width: 150px;">
                      <ion-label>Largo</ion-label>
                      <ion-radio value="4"></ion-radio>
                    </ion-item>
                  </ion-list>
                </td></tr>
              </table>

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Dirección</ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                  <ion-textarea class="button-line-verificar" rows="3" [value]="this.data.direccion" formControlName="direccion" type="text" placeholder=""></ion-textarea>
                </td></tr>
              </table>
              <br><br>
              <div padding>
                <button ion-button block type="submit" [disabled]="!myForm.valid">MODIFICAR</button>
              </div>
          </form>
    </ion-col>
  </ion-row>
</ion-content>