<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
  <ion-grid no-padding style="margin-top:100px;" >
  <ion-row *ngIf="this.data2 != null">
    <ion-col col-12 style="margin-top:10px;">
          <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
          <div padding>
             <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px;     margin-bottom: 20px;  padding-left: 16px;">Plan Actual</ion-label>
          </div>
    </ion-col>
    <ion-col col-12 *ngFor="let item2 of data2;" style="margin-top: -21px;">
        <table border="0" style="margin-right: 14px;">
          <tr>
            <td style="padding-left: 10px;" valign="top" >
                <img src="{{this.urlimg2}}{{item2.afiliacionusers.imagen}}" height="100px" width="140px;" style="margin-right:23px;">
            </td>
            <td width="200px">
              <table style=" color: #f59332; font-size:12px" item-capa-top border="0">
                <tr>
                    <td style="padding:6px;">
                        Afiliación: &nbsp;<span style="color:#A6ACAF;">{{item2.afiliacionusers.denominacion}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px;">
                        Fecha vencimiento: &nbsp;<span style="color:#A6ACAF;">{{item2.fecha_vencimiento}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px;">
                       Número: &nbsp;<span style="color:#A6ACAF;">{{item2.numer_tarjeta}}</span>
                    </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="this.data4 != null">
    <ion-col col-12 style="margin-top:30px; margin-bottom: -10px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: -10px; padding-left: 16px;">Opciones Adicionales</ion-label>
        </div>
    </ion-col>
    <form [formGroup]="myForm" (ngSubmit)="cargarradio()">
    <ion-list radio-group >
        <ion-col col-12 *ngFor="let item4 of data4;" style="margin-top: 10px; margin-left: 10px;">
            <table border="0" style="margin-right: 0px; margin-left: 10px;" *ngIf="item4.costo!=0">
              <tr>
                <td>
                <ion-radio  (click)="llenar(item4.id, 2)" value="{{item4.id}}"></ion-radio>
                </td>
                <td style="padding-left: 10px;" valign="top" >
                    <img src="{{this.urlimg2}}{{item4.imagen}}" height="100px" width="140px;" style="margin-right:23px;">
                </td>
                <td width="200px" valign="top">
                  <table style=" color: #f59332; font-size:12px" item-capa-top border="0">
                    <tr>
                        <td style="padding:6px; padding-bottom: 3px;">
                            Afiliación: &nbsp;<span style="color:#A6ACAF;">{{item4.denominacion}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:6px; padding-bottom: 3px;">
                            Costo: &nbsp;<span style="color:#A6ACAF;">$ {{item4.costo}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:6px; padding-bottom: 3px;">
                            Servicio p/MES: &nbsp;<span style="color:#A6ACAF;">$ {{item4.cantidad_servicio}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:6px; padding-bottom: 3px;">
                            Beneficios: &nbsp;<span style="color:#A6ACAF;">$ {{item4.beneficios}}</span>
                        </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table border="0" style="margin-right: 0px; margin-left: 10px;" *ngIf="item4.costo==0">
              <tr>
                <td>
                <ion-radio  (click)="llenar(item4.id, 1)" value="{{item4.id}}"></ion-radio>
                </td>
                <td style="padding-left: 10px;" valign="top" >
                    <table style="margin-top:0px; color: #f59332; font-size:12px; padding:20px; text-align: justify;" item-capa border="0" >
                    <tr><td style="padding:10px;">
                    &nbsp;&nbsp;Si no cuenta con los medios para seguir teniendo un plan de costo mensual, puede hacer un <b>Downgrade</b> de su cuenta y pasar a un plan OnDemand bajo afiliación  <b>BeautyAccess Silver</b>
                    </td></tr></table>
                </td>
              </tr>
            </table>
        </ion-col>
        <ion-row style="margin-top: -10px;">
          <ion-col col-6>
            <button ion-button block float-right type="button" style="border-radius: 14px; width:150px; font-size:12px;" (click)="link('AfiliacionPage','1')"><< Anterior</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button block type="submit" style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;" >Cambiar plan</button>
          </ion-col>
        </ion-row>
    </ion-list>
    </form>
  </ion-row>
</ion-grid>
</ion-content>