<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding style="margin-top:40px">
<table style="width: 100%; margin-top:75px" *ngIf="this.razon_social != '' ">
	<tr>
		<td colspan="2">
			<img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
			<div padding float-right>
	           <table style="color:#923797; font-size:26px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
	           		<tr>
	           			<td align="right">Resumen de Reserva</td>
	           		</tr>
	           </table>
	        </div>
	    </td>
	</tr>
	<tr>
	    <td colspan="2">
	      <div padding >
	             <table style="color:#923797; font-size:12px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
	                <tr>
	                  <td align="right">Reserva en: <span style="color:#f59332;">{{this.razon_social}}</span></td>
	                </tr>
	             </table>
	          </div>
	      </td>
	  </tr>
	<tr *ngIf="this.cancelar == 1">
				<td align="center" style="padding-bottom: 28px;">
					<ion-icon name="calendar" item-icon></ion-icon><span item-title style="font-size:16px" (click)="modificarfecha()">{{this.fecha}}</span>
			    </td>
			    <td align="center" style="padding-bottom: 28px;">
			    	<ion-icon name="time" item-icon></ion-icon><span item-title style="font-size:16px"(click)="modificarhora()" >{{this.hora}}</span>
			    </td>
	</tr>
	<tr *ngIf="this.calificar == 1">
				<td align="center" style="padding-bottom: 28px;">
					<ion-icon name="calendar" item-icon></ion-icon><span item-title style="font-size:16px">{{this.fecha}}</span>
			    </td>
			    <td align="center" style="padding-bottom: 28px;">
			    	<ion-icon name="time" item-icon></ion-icon><span item-title style="font-size:16px">{{this.hora}}</span>
			    </td>
	</tr>
	<tr style="height: 150px;">
		<td width="45%" hight="30%" align="center" style="padding-top: 30px;"  (click)="link('SalonphotoPage', this.salonid)">
		    <img class="mas" src="./assets/images/13.icono-03.png">
		    <img weight="90px" height="90px" src="{{this.urlimg2}}{{this.img1}}" style="margin-top:-70px; height: 90px; width: 90px;">
		</td>
		<td width="55%" valign="top" style="padding-left:8px; padding-top:-4px; padding-right: 10px;">
			<span class="item-title " style="font-size:13px">{{this.direccion}}</span><br><br>
			<span class="item-title " style="font-size:13px">
							<!--
							{{this.telefono}}</span>-->
							02-6036037 / 0988488913</span>
							<br><br>
							<span class="item-title " style="font-size:13px">
							<!--{{this.email}}</span>-->
							reservas@beautyaccess.com.ec</span>
							<br><br>
							
		</td>
    </tr>
    <tr>
    	<td align="center">
    					<div *ngIf="this.cancelar == 1">
							<button (click)="modificarfecha()" ion-button block type="button" style="border-radius: 14px; width:100px; margin-top: -60px; margin-bottom: 30px; font-size:12px;" >Modificar</button>
							<br>
							<button disabled ion-button block type="button" style="border-radius: 14px; width:100px; margin-top: -40px; font-size:12px; background-color: #f59332;" >Calificar</button>
						</div>
						<div *ngIf="this.calificar == 1">
							<button disabled ion-button block type="button" style="border-radius: 14px; margin-top: -60px; margin-bottom: 30px; width:100px; font-size:12px;" >Modificar</button>
							<br>
							<button (click)="califica()" ion-button block type="button" style="border-radius: 14px; margin-top: -40px; width:100px; font-size:12px; background-color: #f59332;" >Calificar</button>
						</div>
		</td>
		<td>
			<span style="font-size:15px"><div  [innerHTML]="this.contentStringT" (click)="comentario();"></div></span><br>
		</td>
    </tr>
	<tr>
		<td colspan="2" align="center" style="padding-top:10px;">
				<div class="md_principal">
							<table style="width: 100%;">
							  <tr *ngFor="let item1 of this.facturar;">
							    <td width="80%" style="color:#A6ACAF;">{{item1.denominacion}}</td>
							    <td style="color:#f59332;">{{item1.costo}}</td>
							  </tr>
							</table>
							<table style="width: 100%; margin-top:20px">
							  <tr *ngFor="let item2 of this.totales;">
							    <td width="80%" style="color:#A6ACAF;">{{item2.denominacion}}</td>
							    <td style="color:#f59332;">{{item2.valor}}</td>
							  </tr>
							</table>
							<table style="width: 100%; margin-top:10px; border-top:1px solid #c0c4c6; ">
							  <tr>
							    <td width="80%" style="color:#A6ACAF; padding-top: 10px;">Total a Pagar</td>
							    <td style="color:#f59332; padding-top: 10px;">$ {{this.total_total}}</td>
							  </tr>
							</table>
				</div>

		</td>
	</tr>

	<tr  *ngIf="this.datos[0].pasarela_transaccion != null " >
		<td colspan="2" align="center" style="padding-top:50px;">
				<div class="md_principal">
							<table style="width: 100%;">
							    <tr>
									<td style="text-align: left;">
										<span  style="font-size:15px;">Datos de pago place to play:</span><br>
									</td>
								</tr>
							</table>
							<table style="width: 100%; margin-top:20px">
							  <tr>
							    <td width="70%" style="color:#A6ACAF;">Número de referencia</td>
							    <td style="color:#f59332;">{{this.datos[0].pasarela_transaccion}}</td>
							  </tr>
							  <tr>
							    <td width="70%" style="color:#A6ACAF;">Hora de pago</td>
							    <td style="color:#f59332;">{{this.datos[0].hora_transaccion }}</td>
							  </tr>
							  <tr>
							    <td width="70%" style="color:#A6ACAF;">Fecha de pago</td>
							    <td style="color:#f59332;">{{this.datos[0].fecha_transaccion | date:"dd/MM/yyyy"}}</td>
							  </tr>
							  <tr *ngIf="this.datos[0].pasarela_status == 'APPROVED' ">
							    <td width="70%" style="color:#A6ACAF;">Estatus de pago</td>
							    <td style="color:#f59332;">Aprobado</td>
							  </tr>
							  <tr *ngIf="this.datos[0].pasarela_status == 'REJECTED' ">
							    <td width="70%" style="color:#A6ACAF;">Estatus de pago</td>
							    <td style="color:#f59332;">Rechazado</td>
							  </tr>
							  <tr *ngIf="this.datos[0].pasarela_status == 'PENDING' ">
							    <td width="70%" style="color:#A6ACAF;">Estatus de pago</td>
							    <td style="color:#f59332;">Pendiente</td>
							  </tr>
							  <tr>
							    <td width="70%" style="color:#A6ACAF;">Total Pagado</td>
							    <td style="color:#f59332;">USD $ {{this.datos[0].valor_total }}</td>
							  </tr>
							</table>
				</div>

		</td>
	</tr>

	<tr>
		<td colspan="2">
			<br><br><br><br>
		</td>
	</tr>
</table>


<div padding text-center item-principal *ngIf="this.cancelar == 1">
 <ion-row style="margin-top: -30px;">
	  <ion-col col-6>
	   	 	<button ion-button block float-right type="button" style="border-radius: 14px; width:150px; font-size:12px;" (click)="cargarradio()">Cancelar</button>
	  </ion-col>
	  <ion-col col-6>
	   		<button disabled ion-button block type="button" style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;" >Calificar</button>
	  </ion-col>
</ion-row>
</div>

<div padding text-center item-principal *ngIf="this.calificar == 1">
 <ion-row style="margin-top: -30px;">
	  <ion-col col-6>
	   	 	<button disabled ion-button block float-right type="button" style="border-radius: 14px; width:150px; font-size:12px;">Cancelar</button>
	  </ion-col>
	  <ion-col col-6>
	   		<button (click)="califica()" ion-button block type="button" style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;" >Calificar</button>
	  </ion-col>
</ion-row>
</div>
</ion-grid>
</ion-content>
