page-misreservasver {
	background-color:#e8e8e8;
    .myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	     margin-top:-5px;
	     padding-top: 20px;
	}
	.calificacion{
		margin-right: 10px; font-size: 25px; color: #df933d;
	}
	.mas {
		z-index: 1;
	    position: absolute;
	    height: 30px;
	    margin-top: -80px;
	    margin-left: 90px;
	}
	.margin-estrellas{
		margin-right: 4px;
	}
	.item-title {
         font-size:16px; 
         color: #A6ACAF ;
	}
	.item-title-v {
         font-size:16px; 
         color: #A6ACAF ;
	}
	.button-md_principal{
	          width: 150px;
	          height: 50px;
	          color: #923797;
	          margin-top:   0px;
	          margin-right: 8px;
	          margin-left:  0px;
	           border: 1px #777 solid;
		          background-color: #ffffff;
                  -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
                  border-radius: 10px 10px 10px 10px;
	}
	.md_principal{
	      width: 95%;
	      /*height: 130px;*/
	      color: #923797;
	      margin-top:  -20px;
	      padding-top: 20px;
	      padding-left: 20px;
		  padding-right: 20px;
		  padding-bottom: 20px;
	      margin-right: 5px;
	      margin-left:  0px;
	      border: 1px;
	      background-color: #ffffff;
	     -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
	     -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
	      box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
	      border-radius: 10px 10px 10px 10px;
		 -moz-border-radius: 10px 10px 10px 10px;
		 -webkit-border-radius: 10px 10px 10px 10px;
	}
	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	    left: 0;
	    bottom: -5px;
	    background-position: left 0 top -2px;
	    position: absolute;
	    width: 100%;
	    height: 5px;
	    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
	    background-repeat: repeat-x;
	    content: "";
	}
	[item-capa] {
          width: 150px;
          height: 50px;
          color: #923797;
          margin-top: -10px;
          margin-top: -10px;
          margin-right: 6px;
          margin-left:  0px;
          border: 1px;
          background-color: #ffffff;
          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
          -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           border-radius: 10px 10px 10px 10px;
		   -moz-border-radius: 10px 10px 10px 10px;
		   -webkit-border-radius: 10px 10px 10px 10px;
    }
	[item-principal] {
	     margin-top:   -30px;
	     margin-left: 6px;
	}
	[item-title] {
         text-transform: capitalize;
         font-size:10px; 
         color: #A6ACAF ;
	}
	[item-subtitle] {
         font-size:8px;
         color: #f3932d;
	}

	[item-icon] {
         font-size: 30px; 
         margin-right:12px; 
         margin-left: 4px;
         color: #923797;
	}

}
