<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
  <ion-row >
    <ion-col col-12>
        <div background-size container-hearder-image >
          <div padding text-center class="search-bar-bcg">
            <form [formGroup]="myForm" (ngSubmit)="onEvent2('onTextChange', '1')" style="">
                <ion-searchbar placeholder="Buscar servicios" formControlName="searchbar" [(ngModel)]="searchTerm" (ionBlur)="onEvent('onTextChange', $event)"></ion-searchbar>
            </form>
          </div>
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top:30px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">Servicios de belleza</ion-label>
        </div>
    </ion-col>
    <ion-col col-12 *ngIf="items != null">
        <ion-list no-margin>
          <div *ngFor="let item of items;">
              
              <ion-item item-capa class="item-md2"  (click)="onEvent('onItemClick', item)">
                <ion-icon icon-medium item-start>
                  <img src="{{this.urlimg2}}{{item.foto1}}" height="50px" width="65px;">
                </ion-icon>
                <h2 item-title>
                    {{item.razon_social}}
                </h2>
                <h3 item-subtitle>{{item.direccion}}<br>02-6036037 / 0988488913 <!--{{item.telefono}}--><br><!--{{item.email}}-->reservas@beautyaccess.com.ec</h3>
                <span span-medium>
                	{{item.calificacion_general  | number:"1.0-2"}}
                </span>
              </ion-item>
              <div *ngIf="item.servicios2 != null">
                <div *ngFor="let item2 of item.servicios2.empresaserviciodetalles;">
                      <h2 style="font-size: 18px; color: #903793; margin-left: 20px; margin-bottom: -10px; padding-top: 10px;">{{item2.tiposervicio.denominacion}}</h2>
                      <ion-item style="height: 110px;"  (click)="onEvent('onItemClick', item)">
                            <ion-icon icon-medium item-start>
                              <img src="{{this.urlimg2}}{{item2.servicio.imagen}}" height="50px" width="50px;">
                            </ion-icon>
                            <h2 item-title>
                               {{item2.servicio.denominacion}}
                            </h2>
                            <h3 item-subtitle>{{item2.servicio.descripcion}}</h3>
                            <div *ngIf="item2.costo_aux == item2.costo_desde">
                                <span span-medium style="color: #f59332; font-size: 12px;" ><span style="color: #b5babd; margin-right: 10px; font-size: 12px;">Precio:</span>$ {{item2.costo_desde}}</span>
                            </div>
                            <div *ngIf="item2.costo_aux != item2.costo_desde">
                                <span span-medium style="color: #f59332; font-size: 12px;" >$ {{item2.costo}}</span><span span-medium2 style="margin-left:10px; color: #bdc1c4; font-size: 12px;"><span style="color: #b5babd; margin-right: 10px; font-size: 12px;">Precio:</span><span style="text-decoration: line-through; font-size: 12px;">$ {{item2.costo_desde}}</span></span>
                            </div>
                      </ion-item>
                </div>
              </div>
          </div>
        </ion-list>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-12 >
      <table width="100%">
      <tr>
        <td align="center">
          <div padding>
            <button  class="boton_reserva" (click)="mapa();" ion-button block>¡Buscar Centros en el Mapa!</button>
          </div>
        </td>
      </tr>
      </table>
    </ion-col>
    <ion-col col-12>
    <br><br>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>