<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <table class="table_nav">
      <tr>
        <td width="100%">Restablecer contraseña</td>
    </table>
  </ion-navbar>
</ion-header>

<ion-content class="myview">
<ion-grid no-padding>
  <form [formGroup]="myForm" (ngSubmit)="loginUser()">
    <ion-list>
      <div padding text-center>
        <ion-img style="background-color:#f6f6f6; margin-top:50px;" width="170" height="110" src="assets/logo192.png" ></ion-img>
      </div>
      <ion-label stacked style="color:#923797; font-size:20px; padding-left: 16px;">¿Necesita ayuda con su contraseña?</ion-label>
      <div padding>
        <ion-label stacked style="color:#A6ACAF; text-align:center;">Ingrese el e-mail que utiliza en BeautyAccess y le ayudaremos <br> a crear una nueva contraseña.</ion-label>
      </div>
      <table style="width:90%; margin-left:16px;">
        <tr><td style=""><ion-label stacked style="color:#923797">Introduce tu e-mail</ion-label></td></tr>
        <tr><td style="border-bottom: 2px solid #923797"><ion-input class="button-line-verificar" formControlName="code_verificacion" type="text" placeholder=""></ion-input></td></tr>
      </table>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Siguiente</button>
    </div> 
  </form>  
</ion-grid>
</ion-content>