<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview" >
  <ion-row style="margin-top:140px;">
    <ion-col col-12 >
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: -30px; padding-left: 16px;">Historia método de pago</ion-label>
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top: 30px;">
          <ion-list no-margin>
            <ion-item item-capa class="item-md2" *ngFor="let item of this.datos;">
                  <ion-icon icon-medium item-start>
                     <img *ngIf="item.franchise=='discover'"  src="./assets/logos/logo-discover.png"  height="52px" width="52px;" style="margin-left:5px;     margin-right: 20px;">
                     <img *ngIf="item.franchise=='diners'"    src="./assets/logos/logo-diners.png"    height="52px" width="52px;" style="margin-left:5px;    margin-right: 20px;">
                     <img *ngIf="item.franchise=='visa'"      src="./assets/logos/logovisa.png"       height="52px" width="52px;" style="margin-left:5px;    margin-right: 20px;">
                     <img *ngIf="item.franchise=='master'"    src="./assets/logos/logomastercard.png" height="52px" width="52px;" style="margin-left:5px;    margin-right: 20px;">
                  </ion-icon>
                  <h2 item-title>
                      La tarjeta termina en {{item.lastdigits}}
                  </h2>
                  <h3 item-subtitle>
                    <table style=" margin-top:0px">
                      <tr *ngIf="item.status == 'APPROVED' ">
                        <td width="45%" style="color:#A6ACAF;">Estatus: </td>
                        <td style="color:#f59332; padding-left: 0px;">Aprobado</td>
                      </tr>
                      <tr *ngIf="item.status == 'REJECTED' ">
                        <td width="45%" style="color:#A6ACAF;">Estatus:</td>
                        <td style="color:#f59332; padding-left: 0px;">Rechazado</td>
                      </tr>
                      <tr *ngIf="item.status == 'PENDING' ">
                        <td width="45%" style="color:#A6ACAF;">Estatus: </td>
                        <td style="color:#f59332; padding-left: 0px;">Pendiente</td>
                      </tr>
                      <tr *ngIf="item.status == 'FAILED' ">
                        <td width="45%" style="color:#A6ACAF;">Estatus: </td>
                        <td style="color:#f59332; padding-left: 0px;">Rechazado</td>
                      </tr>
                      <tr>
                        <td width="45%" style="color:#A6ACAF;">Hora: </td>
                        <td style="color:#f59332;">{{item.hora_transaccion}}</td>
                      </tr>
                      <tr>
                        <td width="45%" style="color:#A6ACAF;">Fecha: </td>
                        <td style="color:#f59332;">{{item.fecha_transaccion | date:"dd/MM/yyyy"}}</td>
                      </tr>
                    </table>
                  </h3>
                  <span span-medium>
                  </span>
              </ion-item>
          </ion-list>
    </ion-col>
  </ion-row>
</ion-content>