<my-navbar-header [usuario]="this.usuario"></my-navbar-header>


<ion-content class="myview">
<ion-grid no-padding>
  <form [formGroup]="myForm" (ngSubmit)="addC()" style="margin-top:100px;">
    <ion-list>
       <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Contáctenos</ion-label>
        </div>
      <ion-item>
        <ion-icon name="mail" item-left></ion-icon>
        <ion-input formControlName="texto" type="text" placeholder="Ingrese Mensaje"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">Enviar</button>
    </div>
  </form>
</ion-grid>
</ion-content>