<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div *ngIf="this.razon_social!=''">
				<table style="width: 100%; margin-top:140px">
					<tr>
						<td colspan="2">

							<img class="" src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
							<div padding float-right>
					           <table style="color:#923797; font-size:26px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
					           		<tr>
					           			<td align="right">{{this.razon_social}}</td>
					           		</tr>
					           </table>
					        </div>
					    </td>
					</tr>
					<tr>
						<td width="45%" hight="30%" align="center">
							<img class="mas" src="./assets/images/13.icono-03.png">
						    <img weight="140px" height="140px" src="{{this.urlimg2}}{{this.img1}}" style="margin-top:-70px; z-index:-3; height: 140px; width: 140px;">
						</td>
						<td width="55%" valign="top" style="padding-left:8px; padding-top:-4px; padding-right: 10px;">
							<span class="item-title " style="font-size:13px">{{this.direccion}}</span><br><br>
							<span class="item-title " style="font-size:13px"><br></span><br><br>
							<span class="item-title " style="font-size:13px"><br></span><br><br>
							<span style="font-size:15px"><br></span><br>
						</td>
				    </tr>
					<tr>
						<td colspan="2">
						</td>
					</tr>
				</table>
				<div padding text-center item-principal>
				    <table style="width: 100%;">
						<tr>
							<td align="center">
								<button class="button-md_principal" style="padding-left: 18px;" (click)="link('ReservafechahoraPage', this.salonid)">
							       <table>
							       <tr>
								       <td>
											<ion-icon name="calendar" item-icon></ion-icon>
									    </td>
										<td align="left">
											<span item-title>RESERVAR</span><br>
										</td>
									</tr>
									</table>
								</button>
						    </td>
						</tr>
					</table>
				</div>
				<table style="width: 100%;  margin-bottom: 20px;   margin-top: 18px;">
					<tr>
						<td align="center">
							<table style="color:#923797; font-size:26px; margin-top: 0px; margin-bottom: 20px; padding-left: 16px;">
				                <tr>
				                  <td align="right">Servicios</td>
				                </tr>
				             </table>
					          <div *ngFor="let item4 of this.datos">
						          	<ion-list>
									      <button class="md_principal" (click)="expandItem(item5)" ion-item *ngFor="let item5 of this.tiposervicio">
									        <h2 style="font-size: 14px;">{{item5.denominacion}}</h2>
									        <p>{{item5.descripcion}}</p>
									        <app-expandable style="" [height]="itemHeight" [expanded]="item5.expanded">
									        	<div *ngFor="let item6 of item4.servicios[0].deno_ser">
										            <ion-item style="height: 110px;" *ngIf="item6.tiposervicio_id==item5.tiposervicio_id">
											            <ion-thumbnail item-start>
													          <img src="{{this.urlimg2}}{{item6.servicio.imagen}}" width="50px" height="50px">
													    </ion-thumbnail>
											            <h2 item-title2>{{item6.servicio.denominacion}}</h2><br>
											            <h3 item-subtitle2>
											            	<span  style="display: inline-block; text-align: justify; white-space: normal; padding-right: 10px;">
											            		{{item6.servicio.descripcion}}
											            	</span>
											            </h3>
										            </ion-item>
									            </div>
									        </app-expandable>
									        <button ion-button clear item-end>
									        	<ion-icon name="arrow-dropdown"  style="font-size: 30px;"></ion-icon>
									        </button>
									      </button>
									</ion-list>
							</div>
						</td>
					</tr>
				</table>
</div>
</ion-grid>
</ion-content>
