<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-menu [content]="content">
  <ion-header>
      <div class='principal' text-center>
        <ion-row>
          <ion-col><img style="margin-top: 10px;" height="120px" src="./assets/images/beautyaccess.png" /></ion-col>
        </ion-row>
      </div>
  </ion-header>
  <ion-content>
    <ion-list style="margin-top:15px; margin-left:0px;">
      <button class="button_menu" menuClose ion-item *ngFor="let p of appPages" (click)="openPage(p.componente)">
           <ion-icon name="{{p.icon}}" item-left></ion-icon> <span style="white-space: normal;">{{p.title}}</span>
      </button>
      <button class="button_menu" menuClose ion-item  (click)="openPage2()">
            <ion-icon name="logo-whatsapp" item-left></ion-icon> Servicio al cliente
      </button>
      <button class="button_menu" menuClose ion-item  (click)="logOut()">
            <ion-icon name="power" item-left></ion-icon> Salir
      </button>
    </ion-list> 
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>

