.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
    background-image: url() !important;
    padding-right: 0px !important;
}



page-home {

  .button_menu{
     color : #903793;
     margin-top: 10px; 
  }

  .principal{
	    height:160px;
	   
	}

	.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
	    margin-left: 10px;
	    font-size: 15px;
	}

	.menu-inner {
	  left: 0;
	  right: auto;
	  top: 0;
	  bottom: 0;
	  -webkit-transform: translate3d(-9999px,  0,  0);
	  transform: translate3d(-9999px,  0,  0);
	  position: absolute;
	  display: block;
	  width: 314px;
	  height: 100%;
	  contain: strict;
	}

	

}
