<ion-header>
  <!--<ion-navbar color="primary" style="height: 50px;">-->
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon left (click)="perfil()" name="person" style="color: white; margin-left: -12px;"></ion-icon> 
          <span style="margin-left: 5px; white-space: normal; font-size: 16px;">{{this.usuario}}</span>
    </ion-title>
    <ion-buttons end>
       <button  class="button-md_principal_nav" icon-only  (click)="mapa()">
	        Ver mapa
          <!--<ion-icon name="pin" style="color: white;"></ion-icon>-->
	    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>