my-navbar-header{
	.toolbar-title{
		width: 100%;
	    text-align: left;
	}
	.toolbar-ios ion-title{
		padding: 0 55px 1px 80px;
	}

	.button-md_principal_nav{
      width: 80px;
      height: 35px;
      color: #f79633;
      margin-top:   0px;
      margin-right: 5%;
      margin-left:  0px;
      border: 1px #777 solid;
      background-color: #ffffff;
      padding: 0px;
      -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
	  -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
	  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      border-radius: 10px 10px 10px 10px;
}
}