<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
  <ion-row *ngIf="items != null">
    <ion-col col-8>
        <div background-size container-hearder-image >
          <div class="search-bar-bcg">
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onEvent('onTextChange', $event)"></ion-searchbar>
          </div>
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top:10px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Centros de belleza</ion-label>
        </div>
    </ion-col>
    <ion-col col-12>
        <ion-list no-margin>
          <ion-item item-capa class="item-md2" *ngFor="let item of items;" (click)="onEvent('onItemClick', item)">
            <ion-icon icon-medium item-start>
              <img src="{{this.urlimg2}}{{item.foto1}}" height="50px" width="65px;">
            </ion-icon>
            <h2 item-title>
                {{item.razon_social}}
            </h2>
            <h3 item-subtitle>{{item.direccion}}<br>02-6036037 / 0988488913 <!--{{item.telefono}}--><br><!--{{item.email}}-->reservas@beautyaccess.com.ec</h3>
            <span span-medium>
            	{{item.calificacion_general  | number:"1.0-2"}}
            </span>
          </ion-item>
        </ion-list>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-12 >
      <table width="100%">
      <tr>
        <td align="center">
          <div padding>
            <button  class="boton_reserva" (click)="mapa();" ion-button block>¡Buscar Centros en el Mapa!</button>
          </div>
        </td>
      </tr>
      </table>
    </ion-col>
    <ion-col col-12>
    <br><br>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>