<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
  <ion-list  style="margin-top:100px;">
      <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Informativo</ion-label>
      </div>
      <br>
      <div padding text-center item-principal ><br>
          <div *ngFor="let p of appPages">
          <button class="button-md_principal"  (click)="openPage(p.url)">
              <table>
                  <tr>
                    <td>
                      <ion-icon name="{{p.icon}}" item-icon></ion-icon>
                    </td>
                    <td align="left">
                      <span item-title>{{p.title}}</span><br>
                      <span item-subtitle>{{p.subtitle}} </span>
                    </td>
                  </tr>
              </table>
          </button>
          <br><br>
          </div>
      </div>
    </ion-list>
</ion-grid>
</ion-content>
