<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>

  <ion-row *ngIf="items != null">
    <ion-col col-12 style="margin-top:120px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Encuestas para ti</ion-label>
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top:30px;" *ngFor="let item of data;">
          <div item-capa class="item-md2"  (click)="link('CuestionarioPreguntaPage', item.id)">
            <ion-icon icon-medium item-start>
              <img style="margin-left: 10px; margin-top: 8px;" src="{{this.urlimg2}}{{item.imagen}}" height="60px" width="60px;">
            </ion-icon>
            <table border="0" style="float:right; margin-top: 9px;  margin-right: 25px;" width="230px;">
             <tr>
                <td style="color:#f3932d; font-size:12px;">ENCUESTA:</td>
                <td style="color:#A6ACAF; font-size:10px;">&nbsp;{{item.titulo}}</td>
             </tr>
             <tr>
                <td style="color:#f3932d; font-size:12px; padding-top: 5px;">OBSEQUIOS:</td>
                <td style="color:#A6ACAF; font-size:10px; padding-top: 5px;">&nbsp;{{item.obsequios}}</td>
             </tr>
             <tr>
                <td style="color:#f3932d; font-size:12px; padding-top: 5px;">DISPONIBLE:</td>
                <td style="color:#A6ACAF; font-size:10px; padding-top: 5px;">&nbsp; Hasta &nbsp; {{item.fecha_fin}}</td>
             </tr>
             </table>
             <table span-medium>
               <tr>
               <td>GANA Y PARTICIPA</td>
               </tr>
             </table>
          </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 >
      <table width="100%">
      <tr>
        <td align="center">
          <div padding>
            <button  class="boton_reserva" (click)="link('BeautypointPage','1');" ion-button block>¿Cuantos BeautyAccess Points Tengo?</button>
          </div>
        </td>
      </tr>
      </table>
    </ion-col>
    <ion-col col-12>
    <br><br>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

