page-cuestionario {

    background-color:#e8e8e8;
    
	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	    left: 0;
	    bottom: -5px;
	    background-position: left 0 top -2px;
	    position: absolute;
	    width: 100%;
	    height: 5px;
	    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
	    background-repeat: repeat-x;
	    content: "";
	} 
	.myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	     margin-top:-5px;
	}
	[span-medium] {
	    position: absolute;
	    top: -20px;
	    right: 12px;
	    color: #f3932d;
	    height: 75px;
	    color: #fff;
	    width: 40px;
	    background-color: #f3932d;
	    border-radius: 10px 0px 0px 10px;
	    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
	    font-size: 12px;
	}
	.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    	margin: 9px -8px 9px -4px;
    }	
	[item-title] {
         text-transform: capitalize;
         font-size:10px;
         color: #f3932d;
	}
	[item-subtitle] {
         font-size:12px;
         color: #A6ACAF;
	}
	[item-capa] {
          width: 94%;
          height: 75px;
          color: #923797;
          margin-top: -20px;
          margin-right: 6px;
          margin-left:  10px;
          margin-bottom: 30px;
          border: 1px;
          background-color: #ffffff;
          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
          -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           border-radius: 10px 10px 10px 10px;
		   -moz-border-radius: 10px 10px 10px 10px;
		   -webkit-border-radius: 10px 10px 10px 10px;
    }


}
