<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
  <ion-row *ngIf="data != null">
    <ion-col col-8>
        <div background-size container-hearder-image >
          <div class="search-bar-bcg">
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onEvent('onTextChange', $event)"></ion-searchbar>
          </div>
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top:10px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Casos de éxitos</ion-label>
        </div>
    </ion-col>
    <ion-col col-12>
        <ion-list no-margin>
          <ion-item item-capa class="item-md2" *ngFor="let item of data;" (click)="onEvent('onItemClick', item)">
            <ion-icon icon-medium item-start>
             <img  src="{{this.urlimg2}}{{item.foto}}" width="65px" height="65px">
            </ion-icon>
            <h2 item-title>{{item.nombre_apellido}}</h2>
            <h3 item-subtitle>{{item.apoyo}}</h3>
            <span span-medium>
            {{item.meta}}
            </span>
          </ion-item>
        </ion-list>
    </ion-col>
    </ion-row>
</ion-grid>
</ion-content>