<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding style="margin-top:40px">
  <ion-row *ngIf="items != null">
    <ion-col col-8>
        <div background-size container-hearder-image >
          <div class="search-bar-bcg">
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onEvent('onTextChange', $event)"></ion-searchbar>
          </div>
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top:10px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Historias de Reservas</ion-label>
        </div>
    </ion-col>
    <ion-col col-12>
        <ion-list no-margin>
          <div *ngFor="let item of items;">

              <div *ngIf="item.pasarela_status != 'REJECTED' ">
                    <ion-item item-capa class="item-md2"  *ngIf="item.salones != null " (click)="onEvent('onItemClick', item)">
                          <ion-icon icon-medium item-start>
                              <h2 item-title>
                                  Fecha:
                              </h2>
                              <h3 item-subtitle>{{item.fecha}}</h3>
                              <h2 item-title>
                                  Hora Inicio:
                              </h2>
                              <h3 item-subtitle>{{item.hora}}</h3>
                          </ion-icon>
                          <h2 item-title>
                              {{item.salones.razon_social}}
                          </h2>
                          <h3 item-subtitle>{{item.salones.direccion}}<br>02-6036037 / 0988488913 <!--{{item.telefono}}--><br><!--{{item.email}}-->reservas@beautyaccess.com.ec</h3>
                          <span span-medium>
                          	<!--{{item.calificacion_general | number:"1.0-2"}} -->
                          </span>
                    </ion-item>
              </div>
              <div *ngIf="item.pasarela_status == 'REJECTED' ">
                    <ion-item item-capa class="item-md2" style="background-color: #ff00000a;" *ngIf="item.salones != null " (click)="onEvent('onItemClick', item)">
                          <ion-icon icon-medium item-start>
                              <h2 item-title>
                                  Fecha:
                              </h2>
                              <h3 item-subtitle>{{item.fecha}}</h3>
                              <h2 item-title>
                                  Hora Inicio:
                              </h2>
                              <h3 item-subtitle>{{item.hora}}</h3>
                          </ion-icon>
                          <h2 item-title>
                              {{item.salones.razon_social}}
                          </h2>
                          <h3 item-subtitle>{{item.salones.direccion}}<br>02-6036037 / 0988488913 <!--{{item.telefono}}--><br><!--{{item.email}}-->reservas@beautyaccess.com.ec</h3>
                          <span span-medium>
                            <!--{{item.calificacion_general | number:"1.0-2"}} -->
                          </span>
                    </ion-item>
              </div>


          </div>

        </ion-list>
    </ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-12 >
      <table width="100%">
      <tr>
        <td align="center">
          <div padding>
            <button  class="boton_reserva" (click)="link('BuscarPage','1');" ion-button block>¡Quiero hacer una Nueva Reserva!</button>
          </div>
        </td>
      </tr>
      </table>
    </ion-col>
    <ion-col col-12>
    <br><br>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>