<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div *ngIf="this.email!=''  ">
          <table style="width: 100%; margin-top:140px">
            <tr>
              <td colspan="2">
                <img class="" src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
                <div padding float-right>
                       <table style="color:#923797; font-size:26px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
                          <tr>
                            <td align="right">Comentarios</td>
                          </tr>
                       </table>
                    </div>
                </td>
            </tr>
            <tr>
              <td width="45%" hight="30%" align="center" (click)="link('SalonphotoPage', this.salonid)">
                <img class="mas" src="./assets/images/13.icono-03.png">
                  <img weight="140px" height="140px" src="{{this.urlimg2}}{{this.img1}}" style="margin-top:-70px; z-index:-3; height: 140px; width: 140px;">
              </td>
              <td width="55%" valign="top" style="padding-left:8px; padding-top:-4px; padding-right: 10px;">
                <span class="item-title " style="font-size:13px">{{this.direccion}}</span><br><br>
                <span class="item-title " style="font-size:13px">{{this.telefono}}</span><br><br>
                <span class="item-title " style="font-size:13px">{{this.email}}</span><br><br>
                <span style="font-size:15px"><div  [innerHTML]="this.contentStringT"></div></span><br>
              </td>
            </tr>
          </table>
          <!-- Theme Search bars Field + header -->
          <table style="width: 100%; padding-top:0px;">
            <tr>
                <td align="center">
                      <div class="md_principal">
                            <ion-row *ngIf="items != null">
                              <ion-col col-12>
                                <ion-list no-margin>
                                  <ion-item *ngFor="let item of items;">
                                  	<h2 item-title>{{item.usuarios['nombres']}}</h2>
                                  	<h3 item-subtitle>{{item.comentario}}<br></h3>
                                  	<span span-medium>
                                    <rating style="color: #df933d;" [(ngModel)]="item.valor_total" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false" ></rating>
                                   	</span>
                                  </ion-item>
                                </ion-list>
                              </ion-col>
                            </ion-row>
                      </div>
                </td>
            </tr>
          </table>
</div>
</ion-grid>
</ion-content>