<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title><img class="img-user-top"  src="./assets/images/iconos-21.png">&nbsp;{{this.usuario}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-item text-center>
			<ion-slides #wizardSlider2 (ionSlideDidChange)="slideHasChanged2()" pager="true" *ngIf="data2 != null">
			  <ion-slide *ngFor="let item3 of data3;">
			  <img weight="60px" height="60px" src="{{this.urlimg2}}{{item3.foto}}">
			  </ion-slide>
			</ion-slides>
	</ion-item>
	<ion-item text-center>
		<span  style="font-size:15px;">Usted dispone: {{this.data2}}/{{this.data1}} Productos</span><br>
	</ion-item>

	<div padding >
		<table style="width: 100%; margin-top:10px">
			<tr>
				<td align="center">
		           <button class="boton_reserva" (click)="link('BuscarPage', '1');" ion-button>Reserva</button>
				</td>
			</tr>
		</table>
	</div>
</ion-content>