page-inicio {
	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
	    left: 0;
	    bottom: -5px;
	    background-position: left 0 top -2px;
	    position: absolute;
	    width: 100%;
	    height: 5px;
	    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
	    background-repeat: repeat-x; 
	    content: "";
	}
	.scroll{
          height: calc(100% - 250px);
        }
    
 
	.alert-ios .alert-button {
	    margin: 0;
	    border-radius: 0;
	    overflow: hidden;
	    -webkit-box-flex: 1;
	    -webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	    min-width: 50%;
	    height: 44px;
	    border-top: 0.55px solid #dbdbdf;
	    border-right: 0.55px solid #dbdbdf;
	    font-size: 17px;
	    color: #923797;
	    background-color: transparent;
	}


	.myview{
	    background-image: url('../assets/images/onda-barra-busqueda-02.png');
	    background-repeat: no-repeat;
	    background-size: cover; 
	    background-color:none;
	    height: 100%;
	    margin-top:-5px;
	}

	ul{
	   padding: 0px;
	   &.rating li {
	    padding: 5px 10px !important;
	    background: none;
	    color: #ffb400;
	    ion-icon {
	      font-size: 30px;
	    }
	  }
	}
	ion-fab {
	    position: absolute;
	    z-index: 999;
	    bottom: 30px;
	    left: 20px;
	}
	.fab {
	    text-align: center;
	    -moz-appearance: none;
	    -ms-appearance: none;
	    -webkit-appearance: none;
	    appearance: none;
	    border-radius: 50%;
	    position: relative;
	    z-index: 0;
	    display: block;
	    overflow: hidden;
	    width: 66px;
	    height: 66px;
	    font-size: 16px;
	    line-height: 66px;
	    text-overflow: ellipsis;
	    text-transform: none;
	    white-space: nowrap;
	    cursor: pointer;
	    -webkit-transition: background-color, opacity 100ms linear;
	    transition: background-color, opacity 100ms linear;
	    background-clip: padding-box;
	    -webkit-font-kerning: none;
	    font-kerning: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    contain: strict;
	}
}
