<my-navbar-header [usuario]="this.usuario"></my-navbar-header>
<ion-content class="">
<div id="map" style="width:100%; height:100%;"></div>
<ion-scroll scrollY="true" class="scroll">
    <div padding-horizontal id="panel"></div>
  </ion-scroll> 
<ion-fab> 
   <button ion-fab (click)="link_principal('PrincipalPage')">Menú</button>
 </ion-fab>
</ion-content>
