<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<form [formGroup]="myForm" (ngSubmit)="recargar()">
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-8>
                <div background-size container-hearder-image >
                </div>
            </ion-col>
            <ion-col col-12 style="margin-top:10px;">
                <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
                <div padding>
                   <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Recargas</ion-label>
                </div>
            </ion-col>
            <ion-col col-12 style="margin-top:-10px; margin-bottom: 50px;">
            <table width="100%">
              <tr>
                <td style="padding-left: 20px;color: #f59332; font-size: 25px;">Tu saldo actual</td>
                <td style="color: #d9dcdd; font-size: 40px; padding-right: 30px;" align="center">
                      <table class="saldo"><tr><td align="center">{{this.saldo}}$</td></tr></table>
                </td>
              </tr>
            </table>
            </ion-col>
            <ion-col col-12>
                  <ion-label stacked style="color: #a7adaf; margin-left: 15px; font-size: 14px;">Introduce el código de la Promoción ó GiftCard</ion-label>
                  <ion-item item-capa class="item-md2">
                      <ion-input class="button-line-verificar" formControlName="code_verificacion" type="text" placeholder=""></ion-input>
                  </ion-item>
            </ion-col>
            <ion-col col-12>
                    <div padding style="margin-top:-40px;">
                      <button ion-button block type="submit" [disabled]="!myForm.valid">RECARGAR</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
</form>
<div padding style="margin-top: -20px;">
  <button  class="boton_reserva" (click)="link('RecargasgifcardhistoriaPage', '1');" ion-button block>Historia Giftcard</button>
</div>
</ion-grid>
</ion-content>