page-noticias {
		.texto-center {
		     text-align:justify; 
		     margin-top: 0px;
		     margin-bottom: 20px;
		     margin-left: 20px;
		     padding-right: 20px;
		     overflow-y:hidden !important;
		}
		background-color:#e8e8e8;

		.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
				    left: 0;
				    bottom: -5px;
				    background-position: left 0 top -2px;
				    position: absolute;
				    width: 100%;
				    height: 5px;
				    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
				    background-repeat: repeat-x;
				    content: "";
		} 
		.myview{
				     background-image: url('../assets/images/7--01.png');
				     background-repeat: no-repeat;
				     background-size: cover; 
				     background-color:none;
				     height: 100%;
				     margin-top:-5px;
		}
		[item-principal] {
			     margin-top:   -30px;
			     margin-left: 6px;
	    }
		.button-md_principal{
		          width: 80%;
		          height: 60px;
		          color: #923797;
		          margin-top:   0px;
		          margin-right: 8px;
		          margin-left:  0px;
		           border: 1px #777 solid;
		          background-color: #ffffff;
                  -webkit-box-shadow: 2px 5px 13px 4px rgba(0,0,0,0.55);
				  -moz-box-shadow: 2px 5px 13px 4px rgba(0,0,0,0.55);
				  box-shadow: 2px 5px 13px 4px rgba(0,0,0,0.55);
                  border-radius: 10px 10px 10px 10px;
		}
		[item-icon] {
	         font-size: 30px; 
	         margin-right:12px; 
	         margin-left: 4px;
	         color: #923797;
		}
		[item-principal] {
		     margin-top:   -30px;
		     margin-left: 6px;
		}
		[item-title] {
	         text-transform: capitalize;
	         font-size:12px; 
	         color: #A6ACAF ;
		}
		[item-subtitle] {
	         font-size:10px;
	         color: #f3932d;
		}.texto-center {
	     text-align:justify; 
	     margin-top: 20px;
	     margin-bottom: 20px;
	     margin-left: 20px;
	     padding-right: 20px;

	     width: 98%;
	     overflow-y:hidden !important;
	}
  
}
