
page-canjesdetalles {

    background-color:#e8e8e8;

	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	}
	.myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover;
	     background-color:none;
	     height: 100%;
	     margin-top:5px;
	}
	.button-md_principal{
	    width: 140px;
	    height: 160px;
	    color: #923797;
	    margin-top:   18px;
	    margin-right: 8px;
	    margin-left:  10px;
	     border: 1px #777 solid;
		          background-color: #ffffff;
                 -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
                  border-radius: 10px 10px 10px 10px;
    }


}
