<my-navbar-header [usuario]="this.usuario"></my-navbar-header>


<ion-content class="myview">
<ion-grid no-padding>
<div ion-slide-item style="margin-top: 24px;">
    <ion-slides #wizardSlider2 (ionSlideDidChange)="slideHasChanged2()" pager="true" *ngIf="data2 != null">
      <ion-slide *ngFor="let item2 of data2;" ion-slide>
      <img weight="100%" height="60px" src="{{this.urlimg2}}{{item2.foto}}">
      </ion-slide>
    </ion-slides>
</div>
<div padding text-center>
     <ion-label stacked style="color:#923797; font-size:18px; margin-top:-7px;">!EL CANJE HA SIDO REALIZADO!</ion-label>
</div>
 <div padding>
  <button  class="boton_reserva" (click)="link('CanjesPage','1');" ion-button block>REGRESAR</button>
</div>
</ion-grid>
</ion-content>

