<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div *ngIf="this.razon_social!='' ">
					<table style="width: 100%; margin-top:140px">
					  <tr>
				    <td colspan="2">
				      <img class="" src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
				      <div padding float-right>
				             <table style="color:#923797; font-size:26px; margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
				                <tr>
				                  <td align="right">Resumen de Reserva</td>
				                </tr>
				             </table>
				          </div>
				      </td>
				  </tr>
				  <tr>
				    <td colspan="2">
				      <div padding >
				             <table style="color:#923797; font-size:12px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
				                <tr>
				                  <td align="right">Reserva en: <span style="color:#f59332;">{{this.razon_social}}</span></td>
				                </tr>
				             </table>
				          </div>
				      </td>
				  </tr>
					  <tr>
					    <td align="center" style="padding-bottom: 18px;">
					      <ion-icon name="calendar" item-icon></ion-icon><span item-title style="font-size:16px">{{this.fecha | date:"dd/MM/yyyy"}}</span>
					      </td>
					      <td align="center" style="padding-bottom: 18px;">
					        <ion-icon name="time" item-icon></ion-icon><span item-title style="font-size:16px">{{this.hora2 | date:"h:mm a"}}</span>
					      </td>
					  </tr>
					</table>
					<div *ngIf="this.data5.afiliacio_id!=3 " padding text-center style="margin-bottom: 20px; margin-top: -40px; color: #9a459e;">
						<span  style="font-size:15px;">Usted dispone: {{this.data2}}/{{this.data1}} Productos</span>
					</div>
					<table style="width: 100%; padding-top:10px;margin-top: 0px;">
					<tr>
					    <td align="center">
					    	 <table style="color:#923797; font-size:26px; margin-top: 0px; margin-bottom: 20px; padding-left: 16px;">
				                <tr>
				                  <td align="right">Servicios</td>
				                </tr>
				             </table>
					          <div class="md_principa">
					          	<ion-list>
								      <div class="md_principal"  (click)="expandItem(item5)"  ion-item *ngFor="let item5 of this.tiposervicio">
									        <h2 style="font-size: 14px;">{{item5.denominacion}}</h2>
									        <p>{{item5.descripcion}}</p>
								        <app-expandable  [height]="itemHeight" [expanded]="item5.expanded">
								            <div *ngFor="let item6 of this.data6">
										            <ion-item style="height: 135px;" *ngIf="item6.tiposervicio_id==item5.tiposervicio_id">
												            	<ion-thumbnail item-start>
															          <img src="{{this.urlimg2}}{{item6.servicio.imagen}}" width="50px" height="50px">
															    </ion-thumbnail>
													            <ion-item item-md_r>
													            	<ion-checkbox style="margin-right: 10px;" checked=false id="checkbox{{this.random}}{{item6.servicio.id}}" (ionChange)="habilita(item6.servicio.id)"></ion-checkbox>
													            </ion-item>
														            <h2 item-title2 >{{item6.servicio.denominacion}}</h2>
														            <h3 item-subtitle2 style="text-align: justify; white-space: normal; padding-right: 10px;">{{item6.servicio.descripcion}}</h3>
																    <div *ngIf="item6.costo_aux == item6.costo_desde">
																    	<span span-medium style="color: #f59332; font-size: 12px;" ><span style="color: #b5babd; margin-right: 10px; font-size: 12px;">Precio:</span>$ {{item6.costo_desde}}</span>
																    </div>
																    <div *ngIf="item6.costo_aux != item6.costo_desde">
																    	<span span-medium style="color: #f59332; font-size: 12px;" >$ {{item6.costo}}</span><span span-medium2 style="margin-left:10px; color: #bdc1c4; font-size: 12px;"><span style="color: #b5babd; margin-right: 10px; font-size: 12px;">Precio:</span><span style="text-decoration: line-through; font-size: 12px;">$ {{item6.costo_desde}}</span></span>
																    </div>
										            </ion-item>
								            </div>
								        </app-expandable>
								        <button ion-button clear item-end>
								        	<ion-icon name="arrow-dropdown"  style="font-size: 30px;"></ion-icon>
								        </button>
								      </div>
								</ion-list>

									<!--
					          		<table style="width: 100%; margin-left: 20px;" >
									<tr>
										<td>
											<span  style="font-size:15px;">Servicios:</span><br>
										</td>
									</tr>
									<tr *ngFor="let item4 of this.data4;">
										<td align="left">
											<table style="width: 100%; margin-top: 10px; margin-bottom: 10px;" border="0">
												<tr>
													<td>

													</td>
												</tr>
								          		<tr *ngFor="let item3 of item4.empresaserviciodetalles;">
								          			<td style="width: 60%;">
								          				<ion-item item-md_r>

															<ion-label>{{item3.servicio.denominacion}}</ion-label>
														</ion-item>
													</td>
													<td style="padding-left:  0; padding-bottom: 10px;" *ngIf="item3.costo_aux == item3.costo_desde">
													    <span item-title style="color: #f59332;">$ {{item3.costo_desde}}</span>
													</td>
													<td style="padding-left:  0px; padding-bottom: 10px;" *ngIf="item3.costo_aux != item3.costo_desde">
													    <span item-title style="color: #f59332;">$ {{item3.costo}}</span><span item-title style="margin-left:10px; color: #bdc1c4;text-decoration: line-through;">$ {{item3.costo_desde}}</span>
													</td>
												</tr>
											</table>
									 	</td>
									</tr>
									</table>
									-->
							</div>
						</td>
					</tr>
					</table>
					<div padding text-center item-principal>
					   <ion-row style="margin-top: 30px;">
					      <ion-col col-6>
					          <button ion-button block float-right type="button" style="border-radius: 14px; width:150px; font-size:12px;" (click)="anterior()"> << Anterior </button>
					      </ion-col>
					      <ion-col col-6 *ngIf="this.button != ''  ">
					          <button ion-button block type="button" [disabled]=true  style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;"  (click)="continuar()">Siguiente >></button>
					      </ion-col>
					      <ion-col col-6 *ngIf="this.button == ''">
					          <button ion-button block type="button"  style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;"  (click)="continuar()">Siguiente >></button>
					      </ion-col>
					  </ion-row>
					</div>
</div>
</ion-grid>
</ion-content>