page-reservaproducto {

	background-color:#e8e8e8;
	button {
        align-items: baseline;
    }
    .item-ios {
	    padding-left: 16px;
	    padding-right: 0;
	    position: relative;
	    font-size: 1.6rem;
	    background-color: #fff;
	    -webkit-transition: background-color 200ms linear;
	    transition: background-color 200ms linear;
	}
	.label-ios {
	    margin: 11px 8px 11px 0;
	    width: 260px;
	}
    .myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	     margin-top:-5px;
	     padding-top: 20px;
	}

	.calificacion{
		margin-right: 10px; font-size: 25px; color: #df933d;
	}
	.list-ios .item-block .item-inner {
	    border-bottom: 0.55px solid #c8c7cc;
	    border: 0px;
	}
	[item-title2] {
        text-transform: capitalize;
        font-size:11px;
        color: #f3932d;
        position: absolute;
	    top: 40px;
	    margin-left: 27px;
	    display: inline-block;
         white-space: normal;
	  }
	  [item-subtitle2] {
         font-size:9px;
         color: #A6ACAF;
         position: absolute;
	     top: 70px;
	     /*margin-left: 30px;*/
	     width: 200px;
         height: 25px;
         line-height: normal;
         background-color:none;
         display: inline-block;
         white-space: normal;
	  }
	 [span-medium2] {
	    position: absolute;
	    /*top: 0px;*/
	    margin-top: 30px;
	    right: 50px;
	    color: #f3932d;
	    border-bottom: 1px solid;
    	border-color: #f3932d;
	  }
	  [span-medium] {
	    position: absolute;
	    /*top: 0px;*/
	    margin-top: 30px;
	    right: 0px;
	    color: #f3932d;
	    border-bottom: 1px solid;
    	border-color: #f3932d;
	  }
	.item.item-md .checkbox-md {
	    position: static;
	    display: block;
	    margin: -14px 36px 9px 4px;
	}
	.item.item-ios .checkbox-ios {
	    position: static;
	    display: block;
	    margin: -15px 36px 9px 1px;
	}
	[item-md_r] {
	    padding-left: 0px;
	    margin-right: -50px;
	    padding-right: 0px;
	    margin-top: 0px;
	    position: relative;
	    z-index: 100;
        background: none;
	    font-size: 1.6rem;
	    font-weight: normal;
	    text-transform: none;
	    color: #abb1b4;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.margin-estrellas{
		margin-right: 4px;
	}

	.item-title {
         font-size:16px; 
         color: #A6ACAF ;
	}
	.mas {
		z-index: 1;
	    position: absolute;
	    height: 30px;
	    margin-top: -80px;
	    margin-left: 90px;
	}
	.button-md_principal{
	          width: 150px;
	          height: 50px;
	          color: #923797;
	          margin-top:   0px;
	          margin-right: 8px;
	          margin-left:  0px;
	           border: 1px #777 solid;
		          background-color: #ffffff;
                  -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
                  border-radius: 10px 10px 10px 10px;
	}
	.datetime-md {
	        padding: 13px 8px 13px 16px;
		    text-align: center;
		    font-size: 25px;
		    color: #923797;
		    margin-top: 5px;
	}

	.md_principal{
	          width: 95%;
	          color: #923797;
	          margin-top:  10px;
	          padding-top: 0px;
	          margin-right: 5px;
	          padding-right: 10px;
	          margin-left:  0px;
	          border: 1px;
	          background-color: #ffffff;
	         -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
             -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
              box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
              border-radius: 10px 10px 10px 10px;
			 -moz-border-radius: 10px 10px 10px 10px;
			 -webkit-border-radius: 10px 10px 10px 10px;
	}


	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	}

	[item-capa] {
          width: 150px;
          height: 50px;
          color: #923797;
          margin-top: -10px;
          margin-top: -10px;
          margin-right: 6px;
          margin-left:  0px;
          border: 1px;
          background-color: #ffffff;
          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
          -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           border-radius: 10px 10px 10px 10px;
		   -moz-border-radius: 10px 10px 10px 10px;
		   -webkit-border-radius: 10px 10px 10px 10px;
    }

	[item-principal] {
	     margin-top:   -30px;
	     margin-left: 6px;
	}

	[item-title] {
         text-transform: capitalize;
         font-size:14px; 
         color: #A6ACAF ;
	}
	[item-subtitle] {
         font-size:8px;
         color: #f3932d;
	}

	[item-icon] {
         font-size: 30px; 
         margin-right:12px; 
         margin-left: 4px;
         color: #923797;
	}

	.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img {
	    width: 50px;
	    height: 50px;
	    margin-top: 10px;
	}
	.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
	    margin: 0px 0px 0px 0; 
	}
	.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
	    margin: 0px 0px 0px 0; 
	}
	.item-md ion-thumbnail {
	    min-width: 60px;
	    min-height: 70px;
	}



}

