<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <table class="table_nav">
      <tr>
        <td width="80%">{{this.usuario}}</td>
    </table>
  </ion-navbar>
</ion-header>
<ion-content class="myview">
<ion-grid no-padding>
     <ion-list  style="margin-top:120px;">
     <ion-row>
     <ion-col col-12> 
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
          <div padding>
             <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px;  padding-left: 16px;">{{this.usuario}}</ion-label>
         </div>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col col-12> 
        <div padding  text-center style="margin-top:-50px;">
          <div class="texto-center" scrollY="false" [innerHTML]="this.texto"></div>
        </div>
      </ion-col>
      </ion-row>
    </ion-list>
</ion-grid>
</ion-content>


