<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div *ngIf="this.razon_social!='' ">
          <table style="width: 100%; margin-top:140px">
            <tr>
            <td colspan="2">
              <img class="" src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
              <div padding float-right>
                     <table style="color:#923797; font-size:26px; margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
                        <tr>
                          <td align="right">Resumen de Reserva</td>
                        </tr>
                     </table>
                  </div>
              </td>
          </tr>
          <tr>
            <td colspan="2">
              <div padding >
                     <table style="color:#923797; font-size:12px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
                        <tr>
                          <td align="right">Reserva en: <span style="color:#f59332;">{{this.razon_social}}</span></td>
                        </tr>
                     </table>
                  </div>
              </td>
          </tr>
            <tr>
              <td align="center" style="padding-bottom: 18px;">
                <ion-icon name="calendar" item-icon></ion-icon><span item-title style="font-size:16px">Por definir</span>
                </td>
                <td align="center" style="padding-bottom: 18px;">
                  <ion-icon name="time" item-icon></ion-icon><span item-title style="font-size:16px">Por definir</span>
                </td>
            </tr>
          </table>
          <table style="width: 100%; padding-top:10px; margin-top:20px;">
          <tr>
              <td align="center">
                    <div class="md_principal">
                      <table border="0" width="100%">
                            <tr>
                            <td align="center">
                              
<!--
                              <ion-item style="width:  200px;">
                              <ion-datetime  id="fecha_"  (ionChange)="validar($event)" displayFormat="DD/MM/YYYY" [(ngModel)]="fecha" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
                              </ion-item> -->


                                   <ion-calendar #calendar lang="es" (onDaySelect)="onDaySelect($event)"></ion-calendar>
                            </td>
                            </tr>
                      </table>
                    </div>
              </td>
          </tr>
          </table>
          <div padding text-center item-principal>
             <ion-row style="margin-top: 30px;">
                <ion-col col-6>
                    <button ion-button block float-right type="button" style="border-radius: 14px; width:150px; font-size:12px;" (click)="anterior()"> << Anterior </button>
                </ion-col>
                <ion-col col-6 *ngIf="this.disabled != '1' ">
                    <button ion-button block disabled="true" type="button" style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;"  (click)="continuar()">Siguiente >></button>
                </ion-col>
                <ion-col col-6 *ngIf="this.disabled == '1' ">
                    <button ion-button block type="button" style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;"  (click)="continuar()">Siguiente >></button>
                </ion-col>
            </ion-row>
          </div>
</div>
</ion-grid>
</ion-content>