<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div *ngIf="this.razon_social!=null">
			<form #form="ngForm" (ngSubmit)="procesar(form)" style="margin-top:100px;">
				<ion-list>
								<table style="width: 100%; margin-top:75px">
									<tr>
										<td colspan="2">
											<img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
											<div padding float-right>
									           <table style="color:#923797; font-size:26px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
									           		<tr>
									           			<td align="right">Calificar Reserva</td>
									           		</tr>
									           </table>
									        </div>
									    </td>
									</tr>
									<tr>
									    <td colspan="2">
									      <div padding >
									             <table style="color:#923797; font-size:12px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
									                <tr>
									                  <td align="right">Reserva en: <span style="color:#f59332;">{{this.razon_social}}</span></td>
									                </tr>
									             </table>
									          </div>
									      </td>
									  </tr>
									<tr>
										<td align="center" style="padding-bottom: 18px;">
											<ion-icon name="calendar" item-icon></ion-icon><span item-title style="font-size:16px">{{this.fecha}}</span>
									    </td>
									    <td align="center" style="padding-bottom: 18px;">
									    	<ion-icon name="time" item-icon></ion-icon><span item-title style="font-size:16px">{{this.hora}}</span>
									    </td>
									</tr>
									<tr>
										<td align="center" colspan="2">
											<div class="md_principal">
												<table border="0"  width="90%">
												<tr *ngFor="let item of tipocalificacion;">
													<td style="color:#a7adb0;">{{item.denominacion}}</td>
													<td>
														<ionic3-star-rating
														    (click)="changeRating($event, item.id)"
													        activeIcon = "ios-star"
													        defaultIcon = "ios-star-outline"
													        activeColor = "#f59332"
													        defaultColor = "#f4f4f4"
													        readonly="false"
													        id="rating{{item.id}}"
													        rating="0">
													    </ionic3-star-rating>
													</td>
												</tr>
												<tr>
														<td colspan="2">
															<ion-item style="margin-top: 20px;">
														        <ion-input name="comentario" (ngModel)="this.comentario" type="text" placeholder="Ingrese comentario"></ion-input>
														     </ion-item>
														</td>
												</tr>
												<tr>
														<td colspan="2">
															<ion-item style="margin-top: 20px;">
														        <ion-input name="atendido" (ngModel)="this.atendido" type="text" placeholder="Ingrese persona que te atendio"></ion-input>
														     </ion-item>
														</td>
												</tr>
												</table>
											</div>
										</td>
									</tr>

								</table>
								<br><br>
								<table style="width: 100%;">
									<tr>
										<td align="center">
													 <ion-row style="margin-top: -20px;">
														  <ion-col col-12>
														   		<button  type="submit" ion-button block style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;" >Procesar</button>
														  </ion-col>
													</ion-row>
										</td>
									</tr>
								</table>
				</ion-list>
			</form>
</div>
</ion-grid>
</ion-content>
