<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div padding *ngIf="data != null">
<div *ngFor="let item of data;">
		<table style="width: 100%; margin-top:110px; color: #f59332; font-size:12px; text-align: justify;" border="0">
			<tr>
				<td valign="top" style="padding-left:10px; ">
				 <table style="margin-top:50px;">
				 <tr>
				 	<td>
				 		<span style="color:#923797;">SOLO <br> FALTAN:</span> <div class="imgRedonda2">{{this.saldo}}</div>
				 		<img src="./assets/images/7-franja-03.png"  height="6px" width="52px;" style="margin-right:23px; position: absolute; margin-left: -44px; margin-top: 16px;">
				 	</td>
				 </tr>
				 <tr>


					 <td style="padding-right:10px;"><br>
					    <p><img class="imgRedonda" src="{{this.urlimg2}}{{item.foto}}" style="">"Cada vez que reserves en nuestra APP estarás apoyando a nuestro programa Empoderarte. Apoyamos a Mujeres de bajos recursos y en situación de vulnerabilidad a emprender con capacitaciones avaladas en el Senecyt gracias al Instituto ISPADE y a nuestros aliados." </p>
	                 </td>
                 </tr>
                 </table>
				</td>
			</tr>
		</table>
		<div padding >
			<table style="margin-top:-10px; color: #f59332; font-size:12px" item-capa border="0" >
			   <tr>
					<td style="padding:10px;" align="right" colspan="2">
						POSTULADA ACTUAL
					</td>
				</tr>
			   <tr>
					<td style="padding:10px;" colspan="2">
						NOMBRE: &nbsp;<span style="color:#A6ACAF;">{{item.nombre_apellido}}</span><br>
						LUGAR:  &nbsp;<span style="color:#A6ACAF;">{{item.titulo1}}</span><br>
						APOYO SOCIAL: &nbsp;<span style="color:#A6ACAF;">{{item.apoyo}}</span><br>
					</td>
				</tr>
				<tr>
					<td style="padding:10px; text-align: justify;" colspan="2">
					DESCRIPCIÓN: <br>
			         &nbsp;&nbsp;<span style="color:#A6ACAF;">"{{item.descripcion}}"</span>
					</td>
				</tr>

				<tr *ngIf="general != 1">
					<td style="padding:10px; text-align: justify;" colspan="2">
					DESCRIPCIÓN GENERAL: <br>
			         &nbsp;&nbsp;<span style="color:#A6ACAF;">"{{item.descripcion2}}"</span>
					</td>
				</tr>
				<tr style="padding:10px;" align="center">
			   		<td><button style="width:130px; font-size:10px;" align="center" class="boton_reserva" (click)="vergeneral();" ion-button block>Más detalles de éste caso</button></td>
			   		<td><button style="width:130px; font-size:10px; background-color: #f59332;" align="center" class="boton_reserva" (click)="verhistoria();" ion-button block>Ver casos de éxitos</button></td>
				</tr>
			</table>
		</div>
</div>
</div>
</ion-grid>
</ion-content>