page-historia {

	 background-color:#e8e8e8;


 .imgRedonda {
    width:150px;
    height:150px;
    border-radius:150px;
    border:5px solid;
    border-color: #923797;
    float: right;
    margin-top: -100px;
    margin-left: 10px;
}

.button-md {
    border-radius: 2px;
    overflow: hidden;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
    color: #fff;
    background-color: #923797;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0.4rem 0.2rem;
    padding: 0 1.1em;
}

.imgRedonda2 {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    background-color: #f59332;
    color: #fff;
    position: absolute;
    margin-left: 50px;
    margin-top: -30px;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
    /* text-align-last: center; */
}


 [container-hearder-image] {
	    padding-top: 80px;
	    height: 28px;
	  }
	  .item-inner {
	    margin-left: 5px !important;
	  }
	  [span-medium] {
	    position: absolute;
	    top: 13px;
	    right: 20px;
	    color: #f3932d;
	  }
	  [item-title] {
         text-transform: capitalize;
         font-size:19px;
         color: #f3932d;
	  }
	  [item-subtitle] {
         font-size:12px;
         color: #A6ACAF;
	  }

	  ul.rating[_ngcontent-c0] li[_ngcontent-c0] {
		    display: inline;
		    border: 0px;
		    background: none;
		    color: #f3932d  !important;
		    padding: 0px 0px  !important;
		    color: #f3932d;
	  }

	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	} 
	.myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	     margin-top:-5px;
	}

	.bodyview{
	     height: 90%;
	}

	.searchbar-md {
	    background: inherit;
	    padding: 8px;
	    margin-top: -90px;
	}


	.item-md2 {
	   
	    background-color: none !important;
	}


	[item-capa] {
		          width: 94%;
		          height: 75px;
		          color: #923797;
		          margin-top: -20px;
		          margin-right: 6px;
		          margin-left:  10px;
		          margin-bottom: 30px;
		          border: 1px;
		          background-color: #ffffff;
		          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                  -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   border-radius: 10px 10px 10px 10px;
				   -moz-border-radius: 10px 10px 10px 10px;
				   -webkit-border-radius: 10px 10px 10px 10px;
		    }




}
