<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
  <ion-grid no-padding style="margin-top:100px;" >
  <ion-row *ngIf="this.data2 != null">
    <ion-col col-12 style="margin-top:10px;">
          <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
          <div padding>
             <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px;     margin-bottom: 20px;  padding-left: 16px;">Tipo Afiliación</ion-label>
          </div>
    </ion-col>
    <ion-col col-12 *ngFor="let item2 of data2;" style="margin-top: -21px;">
        <table border="0" style="margin-right: 14px;">
          <tr>
            <td style="padding-left: 10px;" valign="top" >
                <img src="{{this.urlimg2}}{{item2.afiliacionusers.imagen}}" height="100px" width="140px;" style="margin-right:23px;">
            </td>
            <td width="200px">
              <table style=" color: #f59332; font-size:12px" item-capa-top border="0">
                <tr>
                    <td style="padding:6px;">
                        Afiliación: &nbsp;<span style="color:#A6ACAF;">{{item2.afiliacionusers.denominacion}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px;">
                        Fecha vencimiento: &nbsp;<span style="color:#A6ACAF;">{{item2.fecha_vencimiento}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:6px;">
                       Número: &nbsp;<span style="color:#A6ACAF;">{{item2.numer_tarjeta}}</span>
                    </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
        <div padding text-center *ngIf="item2.afiliacionusers.cantidad_servicio != 0">
           <ion-label class="label-md_principal" stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 0px; padding-left: 15px;">
           		 <span style="font-size:15px; color:#923797;">Usted dispone: {{this.servicio_mes}}/{{item2.afiliacionusers.cantidad_servicio}} Productos</span>
           	</ion-label>
        </div>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col col-12 style="margin-top:10px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 20px; padding-left: 16px;">Nuestros Servicios</ion-label>
        </div>
    </ion-col>
    <ion-col col-12>
        <div text-center item-principal><br>
			    <button class="button-md_principal"  (click)="link('MisreservasPage','1')">
			       <table>
			       <tr>
				       <td>
							<ion-icon name="calendar" item-icon></ion-icon>
					    </td>
						<td align="left">
							<span item-title>MIS RESERVAS</span><br>
							<span item-subtitle>Registro y Listado</span>
						</td>
					</tr>
					</table>
				</button>
				<button class="button-md_principal"  (click)="link('RecargasPage','1');">
				 	<table>
			       <tr>
				       <td>
							<ion-icon name="cash" item-icon></ion-icon>
						</td>
						<td align="left">
							<span item-title>CENTRO DE PAGOS</span><br>
							<span item-subtitle>Recargas y gif cards</span>
						</td>
					</tr>
					</table>
				</button>
				<br><br>
			    <button class="button-md_principal"  (click)="link('PromocionlistPage','1');">
			    	<table>
			       <tr>
				       <td>
							<ion-icon name="ribbon" item-icon></ion-icon>
						</td>
				       	<td align="left">
							<span item-title>MIS PROMOCIONES</span><br>
							<span item-subtitle>Registro y Listado</span>
						</td>
					</tr>
					</table>
				</button>

				 <button class="button-md_principal"  (click)="link('CuestionarioPage','1');">
            <table style="width: 100%;">
             <tr>
               <td>
              <ion-icon name="chatbubbles" item-icon></ion-icon>
            </td>
            <td align="left">
              <span item-title>OPINA Y GANA</span><br>
              <span item-subtitle>Encuentas y comentarios</span>
            </td>
          </tr>
          </table>
        </button>
				<br><br>
	</div>

    </ion-col>
    </ion-row>
    <div padding text-center style="margin-top:-20px;">
    	<button text-center (click)="link('AfiliacionampliarPage','1');" disabled="true" ion-button block>¡Ampliar mi afiliación!</button>
    </div>
</ion-grid>
</ion-content>