page-afiliacion {
    background-color:#e8e8e8;
	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	} 
	.myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	     margin-top:-5px;
	}
	[button-clear-principal] {
	    margin-top: -45px;
	    margin-left: 20px;
	    margin-right: 30px;
	    z-index: 9; 
	    padding: 10px 15px;
	    position: relative;
	    text-transform: uppercase;
	    display: block;
	    font-size: 30px;
	    background-color: none !important;
    }
    [ion-slide] {
	    padding: 0 0px !important;
	    padding-right: 0px !important;

	}
	[ion-slide-item] {
          padding: 0px !important;
	}
	// Button Wizard
	[button-clear] {
	    margin-top: -45px;
	    margin-left: 20px;
	    margin-right: 30px;
	    z-index: 9;
	    padding: 10px 15px;
	    position: relative;
	    text-transform: uppercase;
	    display: block;
	    font-size: 30px;
		background-color: #fff;
	}
	.swiper-pagination {
	    bottom: 5px !important;

	    .swiper-pagination-bullet {
	      background: theme-colors('mainColors', 'secondary') !important;
	    }
	}
	.button-clear-md {
	    border-color: transparent;
	    color: #F3932D;
	    background-color: transparent;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    opacity: 1;
	}
	.button-md_principal{
          width: 160px;
          height: 50px;
          color: #923797;
          margin-top:   0px;
          margin-right: 8px;
          margin-left:  0px;
           border: 1px #777 solid;
		          background-color: #ffffff;
                  -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
				  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
                  border-radius: 10px 10px 10px 10px;
    }
    .label-md_principal{
          height: 30px;
          color: #923797;
          margin-top:   5px;
          margin-right: 5px;
          margin-left:  5px;
          padding-right: 20px;
          border: 1px;
          background-color: #ffffff;
          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
          -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           border-radius: 10px 10px 10px 10px;
		   -moz-border-radius: 10px 10px 10px 10px;
		   -webkit-border-radius: 10px 10px 10px 10px;
    }
    [item-favorito] {
         margin-top:10px; 
         margin-bottom:10px; 
         margin-right: 6px;
         margin-left: 6px;
         weight:50px; 
         height:50px;

	}
	[item-icon-menu] {
        color: #fff;
	}
	[item-icon] {
         font-size: 30px; 
         margin-right:12px; 
         margin-left: 4px;
         color: #923797;
	}
	[item-principal] {
	     margin-top:   -20px;
	     margin-left: 6px;
	}
	[item-title] {
         text-transform: capitalize;
         font-size:10px; 
         color: #A6ACAF ;
	}
	[item-subtitle] {
         font-size:8px;
         color: #f3932d;
	}
}
