page-recargasgifcardhistoria{

  background-color: #f6f6f6;

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	} 

 .datetime-md {
          padding: 13px 8px 13px 16px;
          text-align: center;
          font-size: 20px;
          /* padding-left: 0px; */
      }
   .datetime-text {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 16px;
    min-height: 1.2em;
    font-size: inherit;
    line-height: 1.2;
    text-overflow: ellipsis;
    color: #f59332;
    white-space: nowrap;
}
.item-inner {
	margin-left: 5px !important;
}
[span-medium] {
	position: absolute;
	top: 13px;
	right: 20px;
	color: #f3932d;
}
[item-title] {
	 text-transform: capitalize;
	 font-size:12px;
	 color: #f3932d;
}
[item-subtitle] {
	 font-size:12px;
	 color: #A6ACAF;
}

.item-md2 {
	   
	    background-color: none !important;
	}

[item-capa] {
          width: 94%;
          height: 75px;
          color: #923797;
          margin-top: -20px;
          margin-right: 6px;
          margin-left:  10px;
          margin-bottom: 30px;
          border: 1px;
          background-color: #ffffff;
          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
          -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
           border-radius: 10px 10px 10px 10px;
		   -moz-border-radius: 10px 10px 10px 10px;
		   -webkit-border-radius: 10px 10px 10px 10px;
    }

  .myview{
	    background-image: url('../assets/images/7--01.png');
	    background-repeat: no-repeat;
	    background-size: cover; 
	    background-color:none;
	    height: 100%;
	    margin-top:5px;
	}

	.text-input-md {
	    margin: 13px 8px;
	    padding: 0;
	    width: calc(100% - 8px - 8px);
	    color: #f59332;
	}

  

  
}
