<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview" >
  <ion-row style="margin-top:140px;">
    <ion-col col-12 >
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: -30px; padding-left: 16px;">Historia Giftcard</ion-label>
        </div>
    </ion-col> 
    <ion-col col-12 style="margin-top: 30px;">
          <ion-list no-margin>
            <ion-item item-capa class="item-md2" *ngFor="let item of this.datos2;">
                <h2 item-title *ngIf="item.recargasgifcards.codigo != null">
                  Codigo:  {{item.recargasgifcards.codigo}}
                </h2>
                <h2 item-title *ngIf="item.recargasgifcards.codigo == null">
                  Codigo:  
                </h2>
                <h3 item-subtitle>

                </h3>
                <span span-medium>
                   Valor: {{item.recargasgifcards.valor}} $
                </span>
            </ion-item>
          </ion-list>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top:40px;">
    <ion-col col-12 >
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: -30px; padding-left: 16px;">Historia Giftcard Promociones</ion-label>
        </div>
    </ion-col> 
    <ion-col col-12 style="margin-top: 30px;">
          <ion-list no-margin>
            <ion-item item-capa class="item-md2" *ngFor="let item2 of this.datos3;">
                <h2 item-title>
                      Código:  {{item2.recargasgifcardpromo.denominacion}}
                </h2>
                <h3 item-subtitle *ngIf="item2.usada == 2">
                     Descripción:  {{item2.recargasgifcardpromo.descripcion}}<br>
                     Usada:  Si
                </h3>
                <h3 item-subtitle *ngIf="item2.usada == 1">
                     Descripción:  {{item2.recargasgifcardpromo.descripcion}}<br>
                     Usada:  No
                </h3>
                <span span-medium>
                   Porcentaje: {{item2.recargasgifcardpromo.valor_porcentaje}} %
                </span>
            </ion-item>
          </ion-list>
    </ion-col>
  </ion-row>
</ion-content>