<br><br>
<ion-content class="myview">
<ion-grid no-padding>
    <ion-list>
      <div padding text-center>
        <ion-img style="background-color:none; margin-top:50px;" width="75" height="100" src="assets/images/4-icono-03.png" ></ion-img>
      </div>
      <div padding text-center>
       <ion-label stacked style="color:#923797; font-size:25px; padding-left: 16px;">¡Bien {{this.nombre}}!</ion-label>
       <ion-label stacked style="color:#923797; font-size:25px; padding-left: 14px;">Tu cuenta ya está creada</ion-label>
      </div>

      <div padding  text-center>
        <ion-label stacked style="color:#A6ACAF; font-size:10px;"><br>
          ¡Gracias por ser parte de nuestra <br><br>
           Comunidad de Usuarias(os)!.
         </ion-label>
      </div>
      <div padding text-center>
        <ion-label stacked style="color:#A6ACAF; font-size:10px;">
          Con tú registro, obtuviste sin costo alguno la afiliación<br><br>
          <a href="javascript:" class="">Beauty Access Silver</a>, obteniendo todos los beneficios que<br><br>
          ofrece ésta <a href="javascript:" class="">tarjeta virtual</a>, incluyendo miles de promociones<br><br>
          y servicios diseñados especialmente para tí.<br>
        </ion-label>
      </div>
      <div padding>
          <button (click)="ir('2')" style="background-color:#B2BABB;" ion-button block type="button" >¡Completa tus Datos y Gana Puntos!</button>
          <button (click)="ir('1')" ion-button block type="button" >¡Ya quiero probar la App!</button>
      </div> 
      </ion-list>
</ion-grid>
</ion-content>