page-registroend{

.myview{
	     background-image: url('../assets/images/3--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	}

.item-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    cursor: pointer;
}
 
  
}
