<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview">
<ion-grid no-padding>
<div *ngIf="this.razon_social!=''  ">
				<table style="width: 100%; margin-top:140px">
				  <tr>
				    <td colspan="2">
				      <img class="" src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
				      <div padding float-right>
				             <table style="color:#923797; font-size:26px; margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
				                <tr>
				                  <td align="right">Resumen de Reserva</td>
				                </tr>
				             </table>
				          </div>
				      </td>
				  </tr>
				  <tr>
				    <td colspan="2">
				      <div padding >
				             <table style="color:#923797; font-size:12px; text-transform: capitalize;  margin-top: -25px; margin-bottom: 10px; padding-left: 16px;">
				                <tr>
				                  <td align="right">Reserva en: <span style="color:#f59332;">{{this.razon_social}}</span></td>
				                </tr>
				             </table>
				          </div>
				      </td>
				  </tr>
				  <tr>
					    <td align="center" style="padding-bottom: 18px;">
					      <ion-icon name="calendar" item-icon></ion-icon><span item-title style="font-size:16px">{{this.fecha | date:"dd/MM/yyyy"}}</span>
					      </td>
					      <td align="center" style="padding-bottom: 18px;">
					        <ion-icon name="time" item-icon></ion-icon><span item-title style="font-size:16px">{{this.hora2 | date:"hh:mm a"}}</span>
					      </td>
					  </tr>
				</table>
				<br>
				<table style="width: 100%; padding-top:10px; margin-top:10px">
				<tr>
				    <td align="center" colspan="2" style="width: 60%;">
						<div class="md_principal">
									<table style="width: 100%;">
									  <tr *ngFor="let item1 of this.facturar;">
									    <td width="80%" style="color:#A6ACAF;">{{item1.denominacion}}</td>
									    <td style="color:#f59332;">{{item1.costo}}</td>
									  </tr>
									</table>
									<table style="width: 100%; margin-top:20px">
									  <tr *ngFor="let item2 of this.totales;">
									    <td width="80%" style="color:#A6ACAF;">{{item2.denominacion}}</td>
									    <td style="color:#f59332;">{{item2.valor}}</td>
									  </tr>
									</table>
									<table style="width: 100%; margin-top:10px; border-top:1px solid #c0c4c6; ">
									  <tr>
									    <td width="80%" style="color:#A6ACAF; padding-top: 10px;">Total a Pagar</td>
									    <td style="color:#f59332; padding-top: 10px;">$ {{this.total_total}}</td>
									  </tr>
									</table>

						</div>
					</td>
				</tr>
				<tr>
				    <td align="center">
				    	<img class="" src="./assets/images/logos_ec.png"   style="margin-top: 10px; width: 280px; height: 30px; margin-left: -20px; margin-right: -20px;">
				    	<img class="" src="./assets/images/mastercard.png" style="margin-top: -10px; width: 40px; height: 30px; ">
					</td>
				</tr>


				</table>
				<div padding text-center item-principal>
				   <ion-row style="margin-top: 30px;">
				      <ion-col col-6>
				          <button ion-button block float-right type="button" style="border-radius: 14px; width:150px; font-size:12px;" (click)="anterior()"> << Anterior </button>
				      </ion-col>
				      <ion-col col-6>
				          <button ion-button block type="button" style="border-radius: 14px; width:150px; font-size:12px; background-color: #f59332;"  (click)="continuar('1')">Proceder Pago</button>
				      </ion-col>
				  </ion-row>
				</div>

				<table style="width: 100%; padding-top:10px; margin-top: -5px;">
				<tr>
				    <td align="center">
				    	<button ion-button block type="button" style="border-radius: 14px; width:200px; font-size:12px; background-color: #f59332;"  (click)="continuar('2')">Tarjeta Xperta Pichincha</button>
					</td>
				</tr>
				<tr>
				    <td align="center"><br>
				    	<a href="https://www.placetopay.com" target="_blank"><img class="" src="./assets/images/Logo_PlacetoPay.png"   style="margin-top: 0px; width: 200px; height: 40px; margin-left: -20px; margin-right: -20px;"></a>
					</td>
				</tr>
				</table>
</div>
</ion-grid>
</ion-content>