<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>Crear tu cuenta</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="myview">
<ion-grid no-padding>
  <form [formGroup]="myForm" (ngSubmit)="registroUser()">
      <table style="width:90%; margin-left:16px; margin-top:30px;"> 
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Nombres<span style="font-size: 10px; color: red; margin-left: 5px;">(* Solo letras)</span></ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item>
                  <ion-input class="button-line-verificar"  id="nombre"  formControlName="nombres" type="text" placeholder=""></ion-input>
                </ion-item>
                </td></tr>
                <tr>
                  <td>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('nombres').hasError('pattern')">Por favor solo usar letras</p>
                  </td>
                </tr>
              </table>  
              
              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Apellidos<span style="font-size: 10px; color: red; margin-left: 5px;">(* Solo letras)</span></ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item>
                  <ion-input class="button-line-verificar"  id="apellido"  formControlName="apellidos" type="text" placeholder=""></ion-input>
                </ion-item>
                </td></tr>
                <tr>
                  <td>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('apellidos').hasError('pattern')">Por favor solo usar letras</p>
                  </td>
                </tr>
              </table>
 
              <!--
              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">C.I<span style="font-size: 10px; color: red; margin-left: 5px;">(* Solo números)</span></ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item>
                  <ion-input class="button-line-verificar"  Maxlength="11"  formControlName="ci" type="text" placeholder=""></ion-input>
                </ion-item>
                </td></tr>
                <tr>
                  <td>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('ci').hasError('pattern')">Por favor solo usar números</p>
                  </td>
                </tr>
              </table> 

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Teléfono<span style="font-size: 10px; color: red; margin-left: 5px;">(* Solo números)</span></ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item>
                  <ion-input class="button-line-verificar" Maxlength="20"  formControlName="telefono" type="text" placeholder=""></ion-input>
                </ion-item>
                </td></tr>
                <tr>
                  <td>
                    <p color="danger" style="margin-bottom:-20px; font-size: 15px;" ion-text *ngIf="myForm.get('telefono').hasError('pattern')">Por favor solo usar números</p>
                  </td>
                </tr>
              </table> 
       
              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Fecha de Nacimiento</ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                <ion-item text-center>
                  <ion-datetime  displayFormat="DD/MM/YYYY" formControlName="fecha" [(ngModel)]="fecha" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
                </ion-item>
                </td></tr>
              </table>-->

              <table style="width:90%; margin-left:16px; margin-top:30px;">
                <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Cabello</ion-label></td></tr>
                <tr><td style="border-bottom: 2px solid #923797">
                    <ion-list radio-group formControlName="cabello">
                      <ion-item style="color: #f59332; width: 150px;">
                        <ion-label>Corto</ion-label>
                        <ion-radio value="2"></ion-radio>
                      </ion-item>
                      <ion-item style="color: #f59332; width: 150px;">
                        <ion-label>Medio</ion-label>
                        <ion-radio value="3"></ion-radio>
                      </ion-item>
                      <ion-item style="color: #f59332; width: 150px;">
                        <ion-label>Largo</ion-label>
                        <ion-radio value="4"></ion-radio>
                      </ion-item>
                    </ion-list>
                </td></tr>
              </table> 

      <table style="width:90%; margin-left:16px; margin-top:30px; background-color: #f6f6f6;">
        <tr><td style=""><ion-label stacked style="color:#923797; font-size: 15px;">Contraseña</ion-label></td></tr>
        <tr><td style="border-bottom: 2px solid #923797; background-color: #f6f6f6;">
        <ion-input class="button-line-verificar" formControlName="clave" type="password" placeholder=""></ion-input>
        </td></tr>
      </table>
    <br><br>
    <div padding>
      <button ion-button block type="submit" [disabled]="!myForm.valid">CONFIRMAR</button>
    </div> 
  </form>
</ion-grid>
</ion-content> 