page-registro{


.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
     border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
    box-shadow: inset 0 -0px 0 0 #32db64;
}

  background-color: #f6f6f6;

 .datetime-md {
          padding: 13px 8px 13px 16px;
          text-align: center;
          font-size: 20px;
          /* padding-left: 0px; */
      }
  .myview{
	     background-image: url('../assets/images/3--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:#f6f6f6;
	     height: 100%;
	}

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
     border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
    box-shadow: inset 0 -0px 0 0 #32db64;
}

.item-md.item-input.ng-valid.item-input-has-focus .item-inner, 
.item-md.item-input.ng-valid.item-input-has-focus, .item-inner {
     border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 -0px 0 0 #32db64;
    box-shadow: inset 0 -0px 0 0 #32db64;
}
  
  .item-md {
      padding-left: 16px;
      padding-right: 0;
      position: relative;
      font-size: 1.6rem;
      font-weight: normal;
      text-transform: none;
      color: #000;
      background-color: #f6f6f6; 
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item-ios {
      padding-left: 16px;
      border-radius: 0;
      position: relative;
      font-size: 1.7rem;
      color: #000;
      background-color: transparent;
      -webkit-transition: background-color 200ms linear;
      transition: background-color 200ms linear;
  }
    
}
