page-historial {

    background-color:#e8e8e8;
    
	[container-hearder-image] {
	    padding-top: 80px;
	    height: 138px;
	  }
	  .item-inner {
	    margin-left: 5px !important;
	  }
	  [span-medium] {
	    position: absolute;
	    top: 20px;
	    right: 20px;
	    color: #f3932d;
	  }
	  [item-title] {
         text-transform: capitalize;
         font-size:19px;
         color: #f3932d;
	  }

	  ul.rating[_ngcontent-c0] li[_ngcontent-c0] {
		    display: inline;
		    border: 0px;
		    background: none;
		    color: #f3932d  !important;
		    padding: 0px 0px  !important;
		    color: #f3932d;
	  }

	.circulo {
             width: 70px;
             height: 70px;
             -moz-border-radius: 50%;
             -webkit-border-radius: 50%;
             border-radius: 50%;
             background: #923797;
             color: #fff;
             text-align: center;
             font-size:35px
      }

    [container-hearder-image] {
	    padding-top: 80px;
	    height: 28px;
	  }
	  .item-inner {
	    margin-left: 5px !important;
	  }
	  [span-medium] {
	        background-image: url(../assets/images/17-iconoc-03-1.png);
		    position: absolute;
		    top: 2px;
		    width: 50px;
		    height: 60px;
		    right: 20px;
		    color: #fff;
		    padding-top: 22px;
		    padding-left: 6px;
		    font-size: 19px;
	  }
	  [span-medium-resta] {
	        background-image: url(../assets/images/17-iconoc-03-2.png);
		    position: absolute;
		    top: 2px;
		    width: 50px;
		    height: 60px;
		    right: 20px;
		    color: #fff;
		    padding-top: 22px;
		    padding-left: 6px;
		    font-size: 19px;
	  }
	  [span-medium2] {
		        position: absolute;
			    width: 100%;
			    height: 60px;
			    color: #fff;
			    padding-top: 20px;
			    padding-left: 15px;
			    font-size: 25px;
			    margin-left: 2%;
			    top: 20px;
			    left: 30px;
	  }
	  [item-title] {
         text-transform: capitalize;
         font-size:19px;
         color: #f3932d;
	  }
	  [item-subtitle] {
         font-size:10px;
         color: #A6ACAF;
	  }

	  ul.rating[_ngcontent-c0] li[_ngcontent-c0] {
		    display: inline;
		    border: 0px;
		    background: none;
		    color: #f3932d  !important;
		    padding: 0px 0px  !important;
		    color: #f3932d;
	  }

	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	} 
	.myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	}

	.bodyview{
	     height: 90%;
	}

	.searchbar-md {
	    background: inherit;
	    padding: 8px;
	    margin-top: -50px;
	}


	.item-md2 {
	   
	    background-color: none !important;
	}


	[item-capa] {
		          width: 94%;
		          height: 67px;
		          color: #923797;
		          margin-top: -20px;
		          margin-right: 6px;
		          margin-left:  10px;
		          margin-bottom: 30px;
		          border: 1px;
		          background-color: #ffffff;
		          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                  -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   border-radius: 10px 10px 10px 10px;
				   -moz-border-radius: 10px 10px 10px 10px;
				   -webkit-border-radius: 10px 10px 10px 10px;
		    }
    [item-capa-top] {
		          width: 94%;
		          height: 78px;
		          color: #923797;
		          margin-top: -20px;
		          margin-right: 6px;
		          margin-left:  10px;
		          margin-bottom: 30px;
		          border: 1px;
		          background-color: #ffffff;
		          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                  -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   border-radius: 10px 10px 10px 10px;
				   -moz-border-radius: 10px 10px 10px 10px;
				   -webkit-border-radius: 10px 10px 10px 10px;
		    }

}
