<my-navbar-header [usuario]="this.usuario"></my-navbar-header>



<ion-content class="myview">
<ion-grid no-padding *ngIf="this.data!=null" >
  <ion-row *ngIf="this.data2 != null">
    <ion-col col-12 style="margin-top:100px;">
          <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
          <div padding>
             <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px;     margin-bottom: 30px;  padding-left: 16px;">Beauty Access Point</ion-label>
          </div>
    </ion-col>
    <ion-col col-12>
        <table border="0" style="margin-right: 14px;">
          <tr>
            <td style="padding-left: 25px; padding-top:20px" valign="top" >
                <img src="./assets/images/17-icono-03-2.png" height="160px" width="110px;" style="margin-right:23px;">
                <span span-medium2 >
                      {{this.data2}}
                </span>
            </td>
            <td width="200px">
              <table style=" color: #f59332; font-size:12px" item-capa-top border="0">
                <tr>
                    <td style="padding:10px;">
                        Puntos Obtenido: &nbsp;<span style="color:#A6ACAF;">{{this.data2}} puntos</span><br>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px;">
                        Fecha inicio: &nbsp;<span style="color:#A6ACAF;">{{this.fecha}}</span><br>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px;">
                       ¿Qúe son los BAP'S?
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px; text-align:justify;">
                       <span style="color:#A6ACAF;">
                         <table>
                           <tr>
                           <td>
                           Los BAP'S son puntos de Beauty Access que te permiten acceder a promociones y descuentos en nuetra APP y en las sedes de nuestros afiliados.
                           </td>
                           </tr>
                         </table>
                       </span>
                    </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    </ion-col>
  </ion-row>
   <ion-row>
        <ion-col col-12 >
          <div padding> 
                <table width="100%">
                <tr>
                  <td align="center">
                      <button class="boton_reserva" block (click)="link('CanjesPage', '1');" ion-button>Canje Beautypoints</button>
                  </td>
                </tr>
                <tr>
                  <td align="center">
                      <button class="boton_reserva" block (click)="link('CuestionarioPage', '1');" ion-button>Opina y gana</button>
                  </td>
                </tr>
                </table>
          </div>
        </ion-col>
  </ion-row>
  <ion-row *ngIf="this.data  != null">
    <ion-col col-12 style="margin-top:0px;">
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: 40px; padding-left: 16px;">Historial</ion-label>
        </div>
    </ion-col>
    <ion-col col-12>
        <ion-list no-margin>
          <ion-item item-capa class="item-md2" *ngFor="let item of this.data ;" >
            <h2 item-title>{{item.tipos.denominacion}} </h2>
            <h3 item-subtitle>{{item.concepto}}</h3>
            <span span-medium *ngIf="item.action  == 1">
              {{item.point}}
            </span>
            <span span-medium-resta *ngIf="item.action  == 2">
              {{item.point}}
            </span>
          </ion-item>
        </ion-list>
    </ion-col>
    </ion-row>
</ion-grid>
</ion-content>

