page-beautytips {
	 [container-hearder-image] {
	        margin-top: 20px;
            height: 70px;
	  }
	  .item-inner {
	    margin-left: 5px !important;
	  }
	  [span-medium] {
	    position: absolute;
	    top: 8px;
	    right: 25px;
	    color: #f3932d;
	  }
	  [item-title] {
         text-transform: capitalize;
         font-size:11px;
         color: #f3932d;
	  }
	  [item-subtitle] {
         font-size:10px;
         color: #A6ACAF;
	  }

	  ul.rating[_ngcontent-c0] li[_ngcontent-c0] {
		    display: inline;
		    border: 0px;
		    background: none;
		    color: #f3932d  !important;
		    padding: 0px 0px  !important;
		    color: #f3932d;
	  }

	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
			    left: 0;
			    bottom: -5px;
			    background-position: left 0 top -2px;
			    position: absolute;
			    width: 100%;
			    height: 5px;
			    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
			    background-repeat: repeat-x;
			    content: "";
	} 
	.myview{
	     background-image: url('../assets/images/7--01.png');
	     background-repeat: no-repeat;
	     background-size: cover; 
	     background-color:none;
	     height: 100%;
	     margin-top:5px;
	}

	.bodyview{
	     height: 90%;
	}

	.searchbar-md {
	    background: inherit;
	    padding: 8px;
	   /* margin-top: -90px; */
	}


	.item-md2 {
	   
	    background-color: none !important;
	}


	[item-capa] {
		          width: 94%;
		          height: 75px;
		          color: #923797;
		          margin-top: -20px;
		          margin-right: 6px;
		          margin-left:  10px;
		          margin-bottom: 30px;
		          border: 1px;
		          background-color: #ffffff;
		          -webkit-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                  -moz-box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   box-shadow:0 0px 4px #777, 0 0 20px #FBFCFC inset;
                   border-radius: 10px 10px 10px 10px;
				   -moz-border-radius: 10px 10px 10px 10px;
				   -webkit-border-radius: 10px 10px 10px 10px;
		    }






}
