<my-navbar-header [usuario]="this.usuario"></my-navbar-header>


<ion-content class="">
<div *ngFor="let item of data;">
     <img weight="100%" height="220px" style="margin-top: 56px; width: 100%;" src="{{this.urlimg2}}{{item.imagen_promocion}}">
     <table style="width: 100%; margin-top:35px; color: #f59332; font-size:15px; text-align: justify;" border="0">
      <tr>
        <td valign="top" align="center" style="padding-left:10px; ">
          <img src="{{this.urlimg2}}{{item.imagen_codigo_barra}}"  height="150px" width="150px;">
        </td>
        <td valign="top" style="padding-left:0px; ">
           PROMOCIÓN: &nbsp;<br><span style="color:#A6ACAF;">{{item.titulo}}</span><br><br>
           FECHA DE INICIO:  &nbsp;<br><span style="color:#A6ACAF;">{{item.fecha_inicio}}</span><br><br>
           FECHA DE FIN: &nbsp;<br><span style="color:#A6ACAF;">{{item.fecha_fin}}</span><br>
        </td>
      </tr>
      <tr>
        <td valign="top" style="padding-left:0px; padding-top: 20px;" align="center" colspan="2">
           CÓDIGO DE PROMOCIÓN: &nbsp;<span style="color:#A6ACAF;">{{item.codigo_promocion}}</span><br><br>
        </td>
      </tr> 
    </table>
    <div *ngIf="this.contador_empresa==1">
        <div padding>
           <ion-label text-center stacked style="color:#923797; font-size:18px;  margin-top: -5px; margin-bottom: 30px; padding-left: 16px;">Centros de Belleza de promoción</ion-label>
        </div>
        <ion-list no-margin>
          <ion-item item-capa class="item-md2" *ngFor="let item2 of this.data_empresa;" (click)="onEvent(item2.empresas.id, item.codigo_promocion)">
            <ion-icon icon-medium item-start>
              <img src="{{this.urlimg2}}{{item2.empresas.foto1}}" height="50px" width="65px;">
            </ion-icon>
            <h2 item-title>
                {{item2.empresas.razon_social}}
            </h2>
            <h3 item-subtitle>{{item.direccion}}<br>02-6036037 / 0988488913 <!--{{item.telefono}}--><br><!--{{item.email}}-->reservas@beautyaccess.com.ec</h3>
            <span span-medium>
              <!--{{item.calificacion_general  | number:"1.0-2"}}-->
            </span>
          </ion-item>
        </ion-list>
    </div>
    <div *ngIf="item.giftcard==1">
      <ion-item text-center>
         <button ion-button block type="button" (click)="recargar(item.codigo_promocion);">Cargar Código</button>
      </ion-item>
    </div>

</div>



</ion-content>

