<my-navbar-header [usuario]="this.usuario"></my-navbar-header>

<ion-content class="myview" >
  <ion-row style="margin-top:140px;">
    <ion-col col-12 >
        <img src="./assets/images/7-franja-03.png" float-right height="6px" width="50px;" style="margin-right:23px;"> <br>
        <div padding>
           <ion-label float-right stacked style="color:#923797; font-size:23px;  margin-top: -25px; margin-bottom: -30px; padding-left: 16px;">Mis Suscripciones</ion-label>
        </div>
    </ion-col>
    <ion-col col-12 style="margin-top: 30px;">
          <ion-list no-margin>
            <ion-item item-capa class="item-md2" *ngFor="let item of this.datos;" (click)="definir(item.id)">
              <ion-icon icon-medium item-start>

                 <img *ngIf="item.franchise=='discover'"  src="./assets/logos/logo-discover.png"  height="52px" width="52px;" style="margin-left:5px;">
                 <img *ngIf="item.franchise=='diners'"    src="./assets/logos/logo-diners.png"    height="52px" width="52px;" style="margin-left:5px;">
                 <img *ngIf="item.franchise=='visa'"      src="./assets/logos/logovisa.png"       height="52px" width="52px;" style="margin-left:5px;">
                 <img *ngIf="item.franchise=='master'"    src="./assets/logos/logomastercard.png" height="52px" width="52px;" style="margin-left:5px;">
              </ion-icon>
              <h3 item-subtitle style="padding-left: 5px; white-space: normal;">La tarjeta termina en {{item.lastdigits}} <img *ngIf="item.predefinido==2"  src="./assets/images/6-icono3-03-03-03.png"  height="22px" width="22px;" style="margin-left:10px;"> </h3>
              </ion-item>
          </ion-list>
    </ion-col>
     <ion-col col-12 style="margin-top: -30px;">
          <table width="100%">
          <tr>
            <td align="center">
              <div padding>
                <button  class="boton_reserva" (click)="add_pago();" ion-button block>Agregar método de pago</button>
                <br>
                <button  class="boton_reserva" (click)="link('RecargastargetashistoriasPage', '1');" ion-button block>Historia método de pago</button>
              </div>
            </td>
          </tr>
          <tr>
            <td align="center">
              <div padding>

              </div>
            </td>
          </tr>
          </table>
    </ion-col>
  </ion-row>
</ion-content>